
// _instagram.scss

#instagram-top {
  .content {
    .grid {
      .grid-item {
        text-align: center;
        max-width: 560px;
        justify-self: center;
        h1 {
          font-size: 38px;
        }
        p {
          font-size: 14px;
          font-weight: $font-weight-light;
          span {
            font-weight: $font-weight-regular;
            color: $pink;
          }
        }
      }
    }
  }
} // end #instagram-top


#instagram-main {
  .content {
    text-align: center;
    .grid {
      .grid-item {

      }
    }
  }
} // end #instagram-main











//----------- Media queries from mobile up (xs, xs_landscape, s, m, ml, l, xl, xxl) -----------//


@include mquery(s) {



} // end media-query small










@include mquery(m) {



} // end media-query medium










@include mquery(ml) {



} // end media-query medium-large











@include mquery(l) {


} // end media-query large










@include mquery(xl) {

} // end media-query extra-large






@include mquery(xxl) {

} // end media-query extra-extra-large
