
// _product.scss

#product-top {
  overflow-x: hidden; // prevent wishlist icon-pop from breaking the section
  .content {
    > .grid {
      grid-template-columns: 100%;
      //grid-gap: 10px;
      #product-breadcrumbs {
        display: block;
        grid-column: span 1;
        > a {
          display: inline-block;
          float: left;
          position: relative;
          font-size: 12px;
          font-weight: $font-weight-lighter;
          color: $grey;
          text-decoration: none;
          padding: 12px 10px 12px 0;
          &:after {
            content: "";
            position: relative;
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-left: 8px;
            background-image: url($icon_chevron_dark);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            @include transform(rotate(-90deg));
            opacity: 0.7;
            pointer-events: none;
          }
          &:last-of-type {
            &:after {
              display: none;
            }
          }
        }
      }
      #product-gallery {
        display: block;
        grid-column: span 1;
        margin-left: -$mobile_side-padding;
        margin-right: -$mobile_side-padding;
        .gallery-thumbnails {
          display: none;
          .gallery-thumbnail {

          }
        }
        .display-box { // .slider
          position: relative;
          display: block;
          .slider {
            padding-bottom: 100%;
            .slick-list {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%!important;
              .slick-track {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%!important;
                .slick-slide {
                  position: relative;
                  height: 100%;
                }
              }
            }
          } // end .slider
          .wishlist-add {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(255,255,255,0.6);
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0); // remove tap highlight
            @include transition(all 0.2s $ease);
            &:before,
            &:after {
              content: "";
              position: absolute;
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              //background-image: url($icon_wishlist_dark);
              @include transition(all 0.2s $ease);
              @include animation('iconPopReverse 0.25s ease both');
            }
            &:before { // white background
              top: 0%;
              left: 0%;
              width: 100%;
              height: 100%;
              //background-image: url($icon_wishlist_light_full);
              background-color: $white;
              border-radius: 50%;
              opacity: 0;
            }
            &:after { // heart icon
              top: 22%;
              left: 20%;
              width: 60%;
              height: 60%;
              background-image: url($icon_wishlist_dark);
            }
            &.active {
              &:before {
                @include animation('wishlistHeartExplode 0.3s ease-out 0.05s');
              }
              &:after {
                background-image: url($icon_wishlist_dark_full);
                @include animation('iconPop 0.25s ease both');
              }
            }
          }
        }
      } // end #product-gallery

      #product-info {
        grid-column: span 1;
        text-align: center;
        padding-top: 15px;
        h1 {
          font-size: 38px;
          font-weight: $font-weight-lighter;
          span {
            display: block;
            font-family: $font_family_secondary;
            font-size: 18px;
            margin-top: 10px;
          }
        }
        .metal-switcher {
          display: block;
          padding: 5px 0;
        }
        .price {
          display: block;
          //font-family: $font_family_primary;
          font-size: 26px;
          margin-bottom: 5px;
        }
        .shipping {
          display: block;
          font-size: 10px;
        }
        .product-customise {
          text-align: left;
          margin-bottom: 30px;
          .customise-section {
            // styles in _product-customisation.scss
          }
        } // end .product-customise
        .product-description {
          text-align: left;
          margin-bottom: 60px;
          article {
            display: block;
            margin-bottom: 40px;
            font-size: 14px;
            font-weight: $font-weight-light;
            h2 {
              font-size: 24px;
            }
            p {
              font-size: 14px;
              font-weight: $font-weight-light;
            }
            &.product-summary {
              font-size: 16px;
              //margin-bottom: 40px;
            }
          }
        } // end .product-description
        #product-cta {
          position: relative;
          display: block;
          .inner {
            position: fixed;
            bottom: 0;
            right: 0;
            width: 100%;
            padding: $mobile_side-padding;
            padding-bottom: 10px;
            background: $white;
            z-index: 5; // below dropdowns and drawers
            .grid {
              grid-template-columns: 1fr 1fr;
              grid-gap: 8px 20px;
              justify-items: center;
              .btn {
                grid-column: 1 / span 2;
                width: 100%;
                max-width: 350px;
                padding: 12px 20px;
              }
              .wishlist-add,
              .send-hint {
                position: relative;
                font-size: 14px;
                padding: 10px 0;
                padding-left: 30px;
                text-align: left;
                &:before {
                  content: "";
                  position: absolute;
                  top: 8px;
                  left: 0;
                  width: 20px;
                  height: 20px;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: contain;
                }
              }
              .wishlist-add {
                grid-column: 1 / span 1;
                justify-self: end;
                &:before {
                  background-image: url($icon_wishlist_dark);
                  @include transition(all 0.2s $ease);
                  @include animation('iconPopReverse 0.25s ease both');
                }
                &.active {
                  &:before {
                    background-image: url($icon_wishlist_dark_full);
                    @include animation('iconPop 0.25s ease both');
                  }
                }
              }
              .send-hint {
                grid-column: 2 / span 1;
                justify-self: start;
                &:before {
                  background-image: url($icon_paper_plane_dark);
                }
              }
            }
          }
        } // end #product-cta
      } // end #product-info
    } // end .grid
  }
} // end #product-top


#product-detail {
  //filter: brightness(0.97); // darken to light grey
  background-color: $grey_lightest;
  .content {
    h2 {
      font-size: 28px;
      text-align: center;
    }
    .inner {
      margin-left: -$mobile_side-padding;
      margin-right: -$mobile_side-padding;
      .slick-arrow {
        opacity: 0; // hide slider arrows
        visibility: hidden;
        pointer-events: none;
      }
      .product-detail-section {
        position: relative;
        text-align: center;
        .product-detail-image {
          position: relative;
          display: block;
          min-height: 150px;
          margin-bottom: 30px;
          filter: brightness(0.97); // darken to light grey
          img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
          }
        }
        .product-detail-text {
          margin: 0 auto;
          max-width: 650px;
          padding: 0 $mobile_side-padding;
          > img {
            display: inline-block;
            margin-bottom: 5px;
          }
          h3 {
            font-family: $font_family_secondary;
            font-size: 20px;
            margin-bottom: 10px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
} // end #product-detail


#product-related {
  padding-top: 50px;
  padding-bottom: 50px;
  .content {
    > h2 {
      font-size: 28px;
      text-align: center;
      margin-bottom: 40px;
    }
    .grid {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 15px;
      grid-row-gap: 20px;
      margin-left: -$mobile_side-padding;
      margin-right: -$mobile_side-padding;
      .grid-item {
        grid-column: span 1;
        justify-self: center;
        .collection-card {
          width: 100%;
          min-width: 130px;
          height: 100%;
        }
        &:nth-of-type(3n+3) { // every 2 of 3
          display: none; // only show even number on mobile
        }
      }
    }
  }
} // end #product-related


#product-story {
  background-color: $grey_lightest;
  padding-top: 50px;
  &:before { // mimic images flowing off bottom of section
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 80px;
    background: $white;
  }
  .content {
    > h2 {
      font-size: 32px;
      text-align: center;
      margin-bottom: 40px;
    }
    .story-section {
      grid-template-columns: 100%;
      grid-column-gap: 30px;
      grid-row-gap: 20px;
      text-align: center;
      .grid-item {
        position: relative;
        grid-column: span 1;
        h3 {
          font-size: 28px;
        }
        &:nth-of-type(2n+1) { // every 1 in 2 (Text)
          max-width: 650px;
          justify-self: center;
          //padding: $mobile_side-padding;
          padding-top: 40px;
        }
        &:nth-of-type(2n+2) { // every 2 in 2 (Image)
          margin-left: -$mobile_side-padding;
          margin-right: -$mobile_side-padding;
        }
      }
      &.one-image {
        .grid-item:nth-of-type(2) { // image grid item
          img {
            position: relative;
            width: 100%;
            max-height: 450px;
            object-fit: cover;
          }
        }
      } // end .one-image
      &.two-image {
        .grid-item:nth-of-type(2) { // image grid item
          min-height: 450px;
          img {
            position: absolute;
            width: 60%;
            max-width: 250px;
            height: 70%;
            object-fit: cover;
          }
          img:nth-of-type(1) {
            top: 30%;
            left: 40%;
            right: auto;
          }
          img:nth-of-type(2) {
            top: 0;
            left: auto;
            right: 40%;
          }
        }
        // &:nth-child(2n+1) { // every 2 in 2 (two-image)
        //   opacity: 0.5;
        //   .grid-item:nth-of-type(2) { // image grid item
        //     img:nth-of-type(1) {
        //       left: auto;
        //       right: 45%;
        //     }
        //     img:nth-of-type(2) {
        //       left: 45%;
        //       right: auto;
        //     }
        //   }
        // }
      } // end .two-image
    } // end .story-section
  }
} // end #product-story

















//----------- Media queries from mobile up (xs, xs_landscape, s, m, ml, l, xl, xxl) -----------//


@include mquery(s) {

  #product-top {
    .content {
      > .grid {
        #product-breadcrumbs {
          justify-self: center;
        }
        #product-gallery {
          .display-box { // .slider
            max-width: 450px;
            margin: 0 auto;
            .slider {
              padding-bottom: 0;
              height: 450px;
            } // end .slider
          }
        } // end #product-gallery
      } // end .grid
    }
  } // end #product-top

  #product-related {
    .content {
      .grid {
        margin-left: 0;
        margin-right: 0;
      }
    }
  } // end #product-related

  #product-story {
    .content {
      .story-section {
        .grid-item {
          &:nth-of-type(2n+2) { // every 2 in 2 (Image)
            margin-left: 0;
            margin-right: 0;
          }
        }
        &.one-image {
          .grid-item:nth-of-type(2) { // image grid item
            img {
              max-width: 450px;
              max-height: none;
            }
          }
        } // end .one-image
        &.two-image {
          .grid-item:nth-of-type(2) { // image grid item
            min-height: 500px;
            img {
              width: 52%;
              max-width: 300px;
              height: 80%;
            }
            img:nth-of-type(1) {
              top: 20%;
              left: 48%;
            }
            img:nth-of-type(2) {
              right: 48%;
            }
          }
        } // end .two-image
      } // end .story-section
    }
  } // end #product-story

} // end media-query small











@include mquery(m) {

  #product-top {
    .content {
      > .grid {
        #product-info {
          .product-customise {
            .customise-section {
              // styles in _product-customisation.scss
            }
          } // end .product-customise
          .product-description {
            max-width: 650px;
            margin: 0 auto;
            margin-bottom: 60px;
          }
        }
      } // end .grid
    }
  } // end #product-top

  #product-related {
    .content {
      .grid {
        grid-template-columns: 1fr 1fr 1fr;
        .grid-item {
          &:nth-of-type(3n+3) { // every 2 of 3
            display: block; // show all that are hidden on mobile
          }
        }
      }
    }
  } // end #product-related

} // end media-query medium











@include mquery(ml) {

  #product-top {
    padding-top: calc(#{$mobile_header_height} + 30px);
    .content {
      max-width: $content_max_width_lg; // increased size for Product page
      > .grid {
        grid-template-columns: 5fr 4fr;
        grid-column-gap: 30px;
        #product-breadcrumbs {
          display: none;
          grid-column: span 2;
          justify-self: left;
        }
        #product-gallery {
          grid-column: span 1;
          display: block;
          margin-left: 0;
          margin-right: 0;
          align-self: end;
          .inner {
            position: fixed; // fixed by default on desktop
            top: 90px; // fallback
            top: calc(#{$mobile_header_height} + 30px);
            left: $mobile_side-padding;
            width: 50%; // fallback
            width: calc(calc(100% - #{$mobile_side-padding} - #{$mobile_side-padding}) / 9 * 5 - 15px);
            display: grid;
            grid-template-columns: 90px auto;
            .gallery-thumbnails {
              display: inline-block;
              vertical-align: top;
              .gallery-thumbnail {
                display: inline-block;
                width: 80px;
                height: 80px;
                margin-bottom: 7px;
                background-color: $grey_lightest; // fallback to image
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                filter: brightness(0.97); // darken to light grey
                @include transition(all 0.2s $ease);
                &:hover {
                  opacity: 0.8;
                }
              }
            }
            .display-box { // .slider
              display: inline-block;
              width: 100%;
              max-width: none;
              .slider {
                height: 550px;
                max-height: calc(100vh - #{$mobile_header_height} - 30px);
                margin-bottom: 0;
              } // end .slider
              .wishlist-add {
                &:hover {
                  background-color: rgba(255,255,255,0.7);
                }
              }
            }
            &.unfixed {
              position: relative;;
              top: auto;
              left: auto;
              width: auto;
            }
          }
        } // end #product-gallery

        #product-info {
          padding-top: 60px;
          .product-description {
            max-width: none;
            margin: 0;
            margin-bottom: 30px;
          } // end .product-description
          #product-cta {
            min-height: 115px; // maintain height of .inner
            .inner {
              right: $mobile_side-padding;
              width: 50%; // fallback
              width: calc(calc(100% - #{$mobile_side-padding} - #{$mobile_side-padding}) / 9 * 4 - 15px); // cover right hand side of product-top section (fallback in JS)
              height: 115px;
              &.unfixed {
                position: relative;
                bottom: auto;
                right: auto;
                width: auto;
              }
            } // end .inner
          } // end #product-cta
        } // end #product-info
      } // end .grid
    }
  } // end #product-top


  #product-detail {
    //filter: brightness(0.97); // darken to light grey
    //background-color: $grey_lightest;
    .content {
      h2 {
        font-size: 36px;
        //text-align: center;
      }
      .inner {
        margin-left: 0;
        margin-right: 0;
        .slick-arrow {
          opacity: 0; // hide slider arrows
          visibility: hidden;
          pointer-events: none;
        }
        .product-detail-section {
          position: relative;
          text-align: center;
          .product-detail-image {
            position: relative;
            display: block;
            min-height: 150px;
            margin-bottom: 30px;
            filter: brightness(0.97); // darken to light grey
            img {
              display: block;
              margin: 0 auto;
              max-width: 100%;
            }
          }
          .product-detail-text {
            margin: 0 auto;
            max-width: 650px;
            padding: 0 $mobile_side-padding;
            > img {
              display: inline-block;
              margin-bottom: 5px;
            }
            h3 {
              font-family: $font_family_secondary;
              font-size: 20px;
              margin-bottom: 10px;
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  } // end #product-detail

} // end media-query medium-large









@include mquery(l) {


} // end media-query large







@include mquery(xl) {

} // end media-query extra-large



@include mquery(xxl) {

} // end media-query extra-extra-large
