
// _product-customisation.scss

// Maintain specificity within product page...
#product-top {
  .content {
    > .grid {
      #product-info {
        .product-customise {


          .customise-section {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-column-gap: 20px;
            margin-bottom: 10px;
            .dropdown-btn {
              position: relative;
              display: inline-block;
              grid-column: span 1;
              font-size: 14px;
              line-height: 1;
              padding: 15px;
              padding-right: 40px;
              border: 1px solid $grey_light;
              text-decoration: none;
              width: 100%;
              max-width: 400px;
              cursor: pointer;
              > img {
                display: inline-block;
                vertical-align: middle;
                width: 24px;
                height: 24px;
                margin-left: -5px; // nudge to left
                margin-right: 3px;
                object-fit: contain;
              }
              &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 15px;
                width: 10px;
                height: 10px;
                background-image: url($icon_chevron_dark);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                @include transform(translateY(-50%));
              }
            }
            .guide-btn {
              position: relative;
              grid-column: span 1;
              justify-self: end;
              align-self: center;
              font-size: 14px;
              text-decoration: underline;
              padding-left: 28px;
              &:before {
                content: "";
                position: absolute;
                top: 0px;
                left: 0;
                width: 20px;
                height: 20px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
              }
            }
            .dropdown-panel {
              position: fixed;
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-template-rows: minmax(min-content, max-content) auto minmax(min-content, max-content); // auto = main section
              grid-row-gap: 0px;
              z-index: 8;
              top: $mobile_header_height;
              right: 0;
              width: 100%;
              height: 100%;
              height: calc(100% - #{$mobile_header_height});
              padding: 20px $mobile_side-padding;
              background-color: $grey_lightest;
              opacity: 1;
              pointer-events: none;
              @include transform(translateY(100%));
              @include transition(transform 0.4s $ease_out_quint 0s, opacity 0.4s $ease_out_quint 0s);
              .dropdown-panel-header {
                position: relative;
                display: block;
                //padding-right: 50px;
                grid-column: 1 / span 2;
                h3 {
                  position: relative;
                  display: inline-block;
                  font-size: 20px;
                  max-width: calc(100% - 40px);
                  margin-bottom: 0;
                  padding-right: 25px;
                  &:after {
                    content: "";
                    position: absolute;
                    top: 2px;
                    right: 0;
                    width: 15px;
                    height: 15px;
                    background-image: url($icon_filter_dark);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                  }
                }
                .close-btn {
                  position: absolute;
                  top: -9px;
                  right: -12px;
                  width: 40px;
                  height: 40px;
                  &:before, &:after {
                    content: "";
                    position: absolute;
                    width: 18px;
                    height: 0.05em;
                    top: 50%;
                    left: 50%;
                    background-color: $grey;
                    @include transition(all 0s $ease);
                  }
                  &:before {
                    @include transform(translate(-50%, -50%) rotateZ(135deg));
                  }
                  &:after {
                    @include transform(translate(-50%, -50%) rotateZ(45deg));
                  }
                }
              }
              .dropdown-panel-main {
                grid-column: 1 / span 2;
                grid-row: 2 / span 1;
                overflow-x: hidden;
                overflow-y: auto;
              }
              &.active { // customise panel open
                opacity: 1;
                pointer-events: auto;
                @include transform(translateY(0%));
                @include transition(transform 0.4s $ease_out_quint 0s, opacity 0.4s $ease_out_quint 0s);
              }
            }
            .product-guide-drawer { // general
              background-color: $grey_lightest;
              .drawer-main {
                padding: 15px;
                padding-top: 50px;
                h3 {
                  font-size: 22px;
                }
                p {
                  font-size: 14px;
                  font-weight: $font-weight-light;
                }
              }
            }

            // Ring size
            &.customise-ring-size {
              .guide-btn {
                &:before {
                  background-image: url($icon_ruler_dark);
                }
              }
              .dropdown-panel {
                ul.ring-size-options,
                .ring-size-bespoke {
                  max-width: 400px;
                  margin: 0 auto;
                }
                ul.ring-size-options {
                  display: grid;
                  grid-column: 1 / span 2;
                  grid-template-columns: 1fr 1fr;
                  grid-gap: 0 15px;
                  justify-items: center;
                  list-style-type: none;
                  padding: 30px 0;
                  li {
                    grid-column: span 1;
                    display: block;
                    a.ring-size-option {
                      display: inline-block;
                      font-size: 14px;
                      padding: 15px 0;
                      text-decoration: none;
                    }
                  }
                }
                .ring-size-bespoke {
                  text-align: center;
                  > a {
                    display: block;
                    font-size: 14px;
                    padding: 10px 0;
                    margin-bottom: 10px;
                  }
                  .inner {
                    display: block;
                    max-height: 0;
                    opacity: 0;
                    @include transform(translateY(-20px));
                    @include transition(all 0.4s $ease_out_quint);
                    textarea {
                      display: none;
                      width: 100%;
                      height: 160px;
                      font-size: 14px;
                      padding: 20px 15px;
                      border: 1px solid $grey_light;
                      box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
                      margin-bottom: 25px;
                    }
                    .btn {
                      display: none;
                      padding: 12px 20px;
                      width: 100%;
                    }
                    &.active {
                      max-height: 200px;
                      opacity: 1;
                      @include transform(translateY(0px));
                      @include transition(all 0.4s $ease_out_quint);
                      textarea,
                      .btn {
                        display: block;
                      }
                    }
                  }
                }
              }
              .product-guide-drawer {
                .drawer-main {
                  text-align: center;
                  img {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    max-height: 180px;
                  }
                }
              }
            } // end .customise-ring-size

            // Birthstone
            &.customise-birthstone {
              .guide-btn {
                &:before {
                  background-image: url($icon_stone_dark);
                  background-position: top;
                  background-size: auto 80%;
                }
              }
              .dropdown-panel {
                ul.birthstone-options {
                  max-width: 400px;
                  margin: 0 auto;
                  display: grid;
                  grid-column: 1 / span 2;
                  grid-template-columns: 1fr 1fr;
                  grid-gap: 0 15px;
                  justify-items: left;
                  list-style-type: none;
                  padding: 30px 0;
                  li {
                    grid-column: span 1;
                    align-self: center;
                    display: block;
                    a.birthstone-option {
                      position: relative;
                      display: inline-block;
                      font-size: 14px;
                      padding: 20px 0;
                      padding-left: 40px;
                      text-decoration: none;
                      img {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 35px;
                        height: 35px;
                        @include transform(translateY(-50%));
                      }
                    }
                  }
                }
              }
              .product-guide-drawer {
                .drawer-main {
                  ul {
                    list-style-type: none;
                    li {
                      display: block;
                      position: relative;
                      padding-left: 120px;
                      margin-bottom: 50px;
                      img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        border: 1px solid $grey_light;
                        border-radius: 50%;
                        width: 100px;
                      }
                    }
                  }
                }
              }
            } // end .customise-birthstone

            // Starsign
            &.customise-starsign {
              .guide-btn {
                &:before {
                  background-image: url($icon_starsigns_dark);
                  background-position: top;
                  background-size: auto 80%;
                }
              }
              .dropdown-panel {
                ul.starsign-options {
                  max-width: 400px;
                  margin: 0 auto;
                  display: grid;
                  grid-column: 1 / span 2;
                  grid-template-columns: 1fr 1fr;
                  grid-gap: 0 15px;
                  justify-items: left;
                  list-style-type: none;
                  padding: 30px 0;
                  li {
                    grid-column: span 1;
                    align-self: center;
                    display: block;
                    a.starsign-option {
                      position: relative;
                      display: inline-block;
                      font-size: 14px;
                      padding: 20px 0;
                      padding-left: 40px;
                      text-decoration: none;
                      img {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 35px;
                        height: 35px;
                        @include transform(translateY(-50%));
                      }
                      span {
                        display: block;
                        font-size: 11px;
                        color: $grey;
                      }
                    }
                  }
                }
              }
              .product-guide-drawer {
                .drawer-main {
                  ul {
                    list-style-type: none;
                    li {
                      display: block;
                      position: relative;
                      padding-left: 120px;
                      margin-bottom: 50px;
                      img {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100px;
                        @include transform(translateY(-50%));
                      }
                      h3 {
                        span {
                          display: block;
                          font-family: $font_family_secondary;
                          font-size: 14px;
                          margin-top: 3px;
                        }
                      }
                    }
                  }
                }
              }
            } // end .customise-starsign

            // Coordinates
            &.customise-coordinates {
              display: block;
              width: 100%;
              max-width: 300px;
              margin-left: auto;
              margin-right: auto;
              > p {
                font-size: 14px;
                font-weight: $font-weight-light;
                margin-bottom: 10px;
              }
              form {
                display: block;
                width: 100%;
                .form-group {
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr 1fr;
                  grid-gap: 5px;
                  margin-bottom: 12px;
                  .input-label-group {
                    grid-column: span 1;
                    input {
                      width: 48px;
                      height: 48px;
                      font-size: 14px;
                      font-weight: $font-weight-light;
                      text-align: center;
                      border: 1px solid $grey_light;
                      @include transition(border 0.2s $ease);
                      &:active,
                      &:focus {
                        outline: none;
                        border: 1px solid $grey;
                      }
                    }
                    input::-webkit-input-placeholder {
                      color: $grey_light;
                    }
                    input::-moz-placeholder {
                      color: $grey_light;
                    }
                    input:-ms-input-placeholder {
                      color: $grey_light;
                    }
                    input:-moz-placeholder {
                      color: $grey_light;
                    }
                    label {
                      display: inline-block;
                      vertical-align: top;
                      margin-left: 3px;
                      font-size: 20px;
                    }
                  }
                  .switch {
                    grid-column: span 1;
                    align-self: center;
                    position: relative;
                    width: 76px;
                    height: 38px;
                    display: inline-block;
                    border-radius: 50px;
                    background: $grey;
                    cursor: pointer;
                    @include transition(all 0.2s $ease);
                    &:before {
                      content: "";
                      position: absolute;
                      top: 0px;
                      left: -1px;
                      background: $pink;
                      height: 38px;
                      width: 38px;
                      border-radius: 50%;
                      border: 1px solid $grey;
                      @include transition(all 0.25s $ease_in_out_quart);
                    }
                    span {
                      position: absolute;
                      height: 38px;
                      font-size: 22px;
                      font-weight: $font-weight-light;
                      line-height: 38px;
                      text-align: center;
                      width: 38px;
                      top: 1px;
                      color: white;
                      pointer-events: none;
                      -webkit-tap-highlight-color: transparent;
                      @include transition(all 0.1s $ease);
                      &:nth-of-type(1) {
                        left: -1px;
                        right: auto;
                        @include transform(scale(1));
                      }
                      &:nth-of-type(2) {
                        left: auto;
                        right: -1px;
                        @include transform(scale(0.8));
                      }
                    }
                    &.switched {
                      &:before {
                        @include transform(translateX(40px)); // switch button width (inc. borders)
                      }
                      span {
                        &:nth-of-type(1) {
                          @include transform(scale(0.8));
                        }
                        &:nth-of-type(2) {
                          @include transform(scale(1));
                        }
                      }
                    }
                    &:hover {
                      background: lighten($grey, 10%);
                    }
                  }
                }
              }
              .guide-btn {
                display: block;
                padding-left: 0;
                font-size: 14px;
                text-align: right;
              }
              .product-guide-drawer {
                .drawer-main {
                  img {
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 30px;
                  }
                }
              }
            } // end .customise-coordinates

            // Initials
            &.customise-initials {
              grid-template-columns: 100%;
              grid-gap: 10px;
              .grid-item {
                position: relative;
                display: flex;
                justify-self: center;
                align-self: center;
                // align-items: center;
                // align-content: center;
                > span {
                  display: inline-block;
                  font-size: 12px;
                  margin-right: 10px;
                  align-self: center;
                }
                .initials-selection {
                  display: inline-block;
                  .initial {
                    width: 40px;
                    height: 48px;
                    padding: 0;
                    background-repeat: no-repeat;
                    background-size: 75%;
                    background-position: center;
                    cursor: pointer;
                    @include transition(all 0.2s $ease);
                    &:after {
                      display: none;
                    }
                    // &:hover {
                    //   border: 1px solid $grey;
                    // }
                  }
                }
              }
              .change-disc {
                justify-self: center;
                .dropdown-btn {
                  display: inline-block;
                  // width: auto;
                  // margin
                  padding: 10px 0;
                  border: 0;
                  text-align: center;
                  &:after {
                    position: relative;
                    display: inline-block;
                    top: auto;
                    right: auto;
                    vertical-align: bottom;
                    margin-left: 7px;
                  }
                }
                .dropdown-panel { // change disc panel
                  grid-template-columns: 100%;
                  .dropdown-panel-header {
                    // h3 {
                    //   grid-column: 1 / span 2;
                    // }
                  }
                  .dropdown-panel-main {
                    padding-top: 30px;
                    ul {
                      list-style-type: none;
                      padding: 0;
                      li {
                        display: block;
                        position: relative;
                        //margin-bottom: 50px;
                        a {
                          display: block;
                          font-size: 14px;
                          text-align: center;
                          padding: 15px;
                          text-decoration: none;
                          &.disabled {
                            opacity: 0.3;
                            pointer-events: none;
                          }
                        }
                      }
                    }
                  }
                }
              }
              > .dropdown-panel { // initial panel
                grid-template-columns: 100%;
                .dropdown-panel-header {
                  //grid-template-columns: 100%;
                  .initials-selection {
                    display: block;
                    text-align: center;
                    padding: 15px 0;
                    .initial {
                      display: inline-block;
                      width: 44px;
                      height: 53px;
                      padding: 0;
                      background: $white;
                      border: 1px solid $grey_light;
                      background-repeat: no-repeat;
                      background-size: 75%;
                      background-position: center;
                      cursor: pointer;
                      @include transition(all 0.2s $ease);
                      &:after {
                        display: none;
                      }
                    }
                  }
                }
                .dropdown-panel-main {
                  padding-bottom: 30px;
                  ul {
                    list-style-type: none;
                    padding: 0;
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    //grid-template-rows: repeat(auto-fit, 60px);
                    grid-gap: 10px;
                    li {
                      position: relative;
                      grid-column: span 1;
                      height: 70px;
                      a {
                        img {
                          position: absolute;
                          top: 0;
                          left: 0;
                          width: 100%;
                          height: 100%;
                          object-fit: contain;
                          filter: brightness(0.97); // darken to light grey
                        }
                      }
                    }
                  }
                }
                .dropdown-panel-footer {
                  padding-top: 15px;
                  text-align: center;
                  .btn {
                    width: 100%;
                    max-width: 350px;
                    padding: 12px 20px;
                  }
                }
              }

            } // end .customise-initials


          } // end .customise-section

        } // end .product-customise
      } // end #product-info
    } // end .grid
  }
} // end #product-top










//----------- Media queries from mobile up (xs, xs_landscape, s, m, ml, l, xl, xxl) -----------//


@include mquery(s) {

} // end media-query small








@include mquery(m) {


} // end media-query medium







@include mquery(ml) {


} // end media-query medium-large







@include mquery(l) {


} // end media-query large







@include mquery(xl) {

} // end media-query extra-large



@include mquery(xxl) {

} // end media-query extra-extra-large
