
{% comment %} Full-width section {% endcomment %}


<section id="product-promise">
  <div class="content">
    <h2>Our Promise</h2>
    <div class="grid">
      <div class="grid-item">
        <img src="{{ 'gift-box-dark.svg' | asset_url}}" alt="Chupi gift box">
        <h3>Packaging</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam cursus mi gravida.</p>
      </div>
      <div class="grid-item">
        <img src="{{ 'sustainability-dark.svg' | asset_url}}" alt="Sustainability">
        <h3>Sustainability</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam cursus mi gravida.</p>
      </div>
      <div class="grid-item">
        <img src="{{ 'gift-box-dark.svg' | asset_url}}" alt="Chupi gift box">
        <!-- <img src="{{ 'heart-dark.svg' | asset_url}}" alt="Heart"> -->
        <h3>Customer Service</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam cursus mi gravida.</p>
      </div>
    </div> <!-- end .grid -->
  </div> <!-- end .content -->
</section>
