
// _buttons.scss

.btn {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 1.2;
  font-weight: $font-weight-light;
  text-transform: uppercase;
  text-decoration: none;
  color: $grey_dark;
  border: 1px solid $grey_dark;
  background-color: transparent;
  padding: 16px 20px;
  min-width: 160px;
  text-align: center;
  overflow: hidden;
  z-index: 0;
  @include transition(all 0.2s $ease);
  &:before,
  &:after {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 130%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; // fall below button text
    background-color: $grey_dark;
    opacity: 0.15;
    @include transform(skewX(-15deg) translateX(-110%));
    @include transition(all 0.3s $ease_out_expo);
  }

  // Hover on button
  &:hover,
  &:active {
    color: $white;
    &:before,
    &:after {
      opacity: 1;
      @include transform(skewX(-15deg) translateX(-10%));
      @include transition(all 0.5s $ease_out_expo);
    }
  }
  // Remove any text decoration
  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
  }

  // Light button
  &.btn-light {
    color: $white;
    border: 1px solid $white;
    &:before,
    &:after {
      background-color: $white;
    }
    &.btn-solid {
      color: $grey_dark;
      &:before { // make background for solid
        background-color: $white;
        opacity: 1;
        @include transform(skewX(-15deg) translateX(-10%));
        @include transition(all 0s $ease_out_expo);
      }
      &:after {
        background-color: darken( $white, 12% );
      }
    }
    &:hover,
    &:active {
      color: $grey_dark;
      &:before,
      &:after {
        opacity: 1;
      }
    }
  }

  // Dark button
  &.btn-dark {
    color: $grey_dark;
    border: 1px solid $grey_dark;
    &.btn-solid {
      color: $white;
      &:before { // make background for solid
        background-color: $grey_dark;
        opacity: 1;
        @include transform(skewX(-15deg) translateX(-10%));
        @include transition(all 0s $ease_out_expo);
      }
      &:after {
        background-color: lighten( $grey_dark, 10% );
      }
    }
    &:hover,
    &:active {
      color: $white;
      &:before,
      &:after {
        opacity: 1;
      }
    }
  }

} // end .btn




// Filter buttons (Collection page)
.btn-sort,
.btn-filter {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  font-weight: $font-weight-light;
  text-decoration: none;
  color: $grey_dark;
  background-color: transparent;
  padding: 10px 20px;
  border: 1px solid $grey_light;
  text-align: center;
  @include transition(background-color 0.2s $ease);
  &:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-left: 7px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:hover {
    text-decoration: none;
  }
}
.btn-sort {
  &:after {
    background-image: url($icon_sort_dark);
  }
}
.btn-filter {
  &:after {
    background-image: url($icon_filter_dark);
  }
}








// Social icons
ul.social-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
  grid-gap: 8px;
  justify-content: center;
  list-style-type: none;
  li {
    display: inline-block;
    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $grey;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50%;
      // &.social-facebook { background-image: url($icon_social_facebook_light); }
      // &.social-twitter { background-image: url($icon_social_twitter_light); }
      // &.social-instagram { background-image: url($icon_social_instagram_light); }
      // &.social-youtube { background-image: url($icon_social_youtube_light); }
    }
  }
} // end .social-icons










//----------- Media queries from mobile up (xs, xs_landscape, s, m, ml, l, xl, xxl) -----------//


@include mquery(s) {

} // end media-query small






@include mquery(m) {

} // end media-query medium






@include mquery(ml) {

  // Filter buttons (Collection page)
  .btn-sort,
  .btn-filter {
    &:hover {
      background-color: $grey_lightest;
    }
  }

} // end media-query medium-large






@include mquery(l) {

} // end media-query large



@include mquery(xl) {

} // end media-query extra-large



@include mquery(xxl) {

} // end media-query extra-extra-large
