
// _buttons.scss

.btn {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 1.2;
  font-weight: $font-weight-light;
  text-transform: uppercase;
  text-decoration: none;
  color: $grey_dark;
  border: 1px solid $grey_dark;
  background-color: transparent;
  padding: 16px 20px;
  min-width: 160px;
  overflow: hidden;
  @include transition(all 0.2s $ease);
  &:before,
  &:after {
    content: "";
    position: absolute;
    pointer-events: none;
    z-index: -1;
  }
  &:before { // background
    width: 130%;
    height: 100%;
    top: 0;
    left: 0;
    background: $grey_dark;
    opacity: 0.15;
    //border-radius: 100px;
    @include transform(skewX(-15deg) translateX(-110%));
    @include transition(all 0.3s $ease_out_expo);
  }
  &:after { // underline
    display: none;
    width: 0px;
    height: 1px;
    bottom: 10px;
    left: 15%;
    background: $white;
    background: linear-gradient(
      to right,
      rgba($white, 0),
      rgba($white, 0.7),
      rgba($white, 0)
    );
    opacity: 0.5;
    //@include transform(translateX(-50%));
    @include transition(all 0.3s $ease_out_expo);
  }
  // Hover on button
  &:hover,
  &:active {
    color: $white;
    &:before {
      opacity: 1;
      @include transform(skewX(-15deg) translateX(-10%));
      @include transition(all 0.5s $ease_out_expo);
    }
    &:after {
      width: 70%;
      @include transition(all 0.5s $ease_out_expo 0.1s);
    }
  }
  // Remove any text decoration
  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
  }
  // Light button
  &.btn-light {
    color: $white;
    border: 1px solid $white;
    &:before {
      background: $white;
    }
    &:after {
      background: $grey_dark;
      background: linear-gradient(
        to right,
        rgba($grey_dark, 0),
        rgba($grey_dark, 0.5),
        rgba($grey_dark, 0)
      );
    }
    &:hover,
    &:active {
      color: $grey_dark;
      &:before {
      }
    }
  }
  // Dark button
  &.btn-dark {
    color: $grey_dark;
    border: 1px solid $grey_dark;
    &:before {
      background: $grey_dark;
    }
    &:after {
      background: $white;
      background: linear-gradient(
        to right,
        rgba($white, 0),
        rgba($white, 0.7),
        rgba($white, 0)
      );
    }
    &:hover,
    &:active {
      color: $white;
      &:before {
        opacity: 1;
      }
    }
  }

} // end .btn










// Social icons
ul.social-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
  grid-gap: 8px;
  justify-content: center;
  list-style-type: none;
  li {
    display: inline-block;
    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $grey;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50%;
      // &.social-facebook { background-image: url($icon_social_facebook_light); }
      // &.social-twitter { background-image: url($icon_social_twitter_light); }
      // &.social-instagram { background-image: url($icon_social_instagram_light); }
      // &.social-youtube { background-image: url($icon_social_youtube_light); }
    }
  }
} // end .social-icons










//----------- Media queries from mobile up (xs, xs_landscape, s, m, ml, l, xl, xxl) -----------//


@include mquery(s) {

} // end media-query small



@include mquery(m) {

} // end media-query medium



@include mquery(ml) {

} // end media-query medium-large



@include mquery(l) {

} // end media-query large



@include mquery(xl) {

} // end media-query extra-large



@include mquery(xxl) {

} // end media-query extra-extra-large
