
// _cards.scss

// Cards general
.card {

}

// Product card
.product-card {
  .upper {
    position: relative;
    width: 100%;
    height: 470px;
    overflow: hidden;
    .object-cover {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .wishlist-add,
    .cart-add {
      position: absolute;
      right: 5px;
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 50%;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0); // remove tap highlight
      @include transition(all 0.2s $ease);
    }
    .wishlist-add {
      top: 5px;
      background-image: url($icon_wishlist_light);
      &.active {
        background-image: url($icon_wishlist_light_full);
      }
    }
    .cart-add {
      bottom: 5px;
      background-image: url($icon_cart-light);
      &.active {
        background-image: url($icon_cart_light_full);
      }
    }
  }
  > a {
    display: block;
    text-decoration: none;
    padding: 10px;
    padding-left: $mobile_side-padding;
    padding-right: $mobile_side-padding;
    h3 {
      font-weight: $font-weight-light;
      line-height: 1;
      margin-bottom: 0;
      white-space: normal;
      span {
        display: block;
        margin-top: 5px;
        font-family: $font_family_secondary;
        font-size: 18px;
        font-weight: $font-weight-lighter;
      }
    }
  }
} // .product-card




// Collection card
.collection-card {
  position: relative;
  > .object-cover {
    display: none;
    opacity: 0;
  }
  .inner {
    position: relative;
    text-align: center;
    height: 100%;
    background-color: $white;
    .upper {
      position: relative;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        filter: brightness(0.97); // darken to light grey
      }
      .variant-switcher {
        display: inline-block;
        max-width: 100%;
        position: absolute;
        font-size: 10px;
        text-decoration: none;
        bottom: 8px;
        left: 50%;
        white-space: nowrap;
        @include transform(translateX(-50%));
        pointer-events: none; // Allow interaction with underlying link
        &:after {
          content: "";
          position: relative;
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-left: 5px;
          vertical-align: middle;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
        &.variant-birthstones {
          &:after {
            background-image: url($icon_birthstones_dark);
          }
        }
        &.variant-starsigns {
          &:after {
            background-image: url($icon_starsigns_dark);
          }
        }
      }
    }
    h2,
    h3 {
      display: inline-block;
      width: 100%;
      font-size: 20px;
      color: $grey_dark;
      margin-bottom: 0;
      padding: 10px;
      padding-bottom: 80px;
      span {
        display: inline-block;
        width: 100%;
        font-size: 14px;
        color: $grey;
        //padding-top: 3px;
      }
    }
  }
  .wishlist-add {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    background-image: url($icon_wishlist_dark);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 45%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); // remove tap highlight
    @include transition(all 0.2s $ease);
    &.active {
      background-image: url($icon_wishlist_dark_full);
    }
  }
  .metal-switcher {
    position: absolute;
    width: 100%;
    bottom: 8px;
    left: 50%;
    text-align: center;
    @include transform(translateX(-50%));
  }
  .price {
    position: absolute;
    font-size: 16px;
    bottom: 50px;
    left: 50%;
    text-align: center;
    @include transform(translateX(-50%));
  }
} // .collection-card











//----------- Media queries from mobile up (xs, xs_landscape, s, m, ml, l, xl, xxl) -----------//


@include mquery(s) {

} // end media-query small






@include mquery(m) {


} // end media-query medium






@include mquery(ml) {

  // Product card
  .product-card {
    @include transition(box-shadow 0.2s $ease);
    .upper {
      height: 470px;
      .object-cover {
        @include transition(transform 0.5s $ease);
      }
      .wishlist-add {
        &:hover {
          background-image: url($icon_wishlist_light_full);
        }
      }
      .cart-add {
        &:hover {
          background-image: url($icon_cart_light_full);
        }
      }
    }
    > a {
      padding: 15px;
      padding-left: $mobile_side-padding;
      padding-right: $mobile_side-padding;
    }
    &:hover {
      box-shadow: 0px 2px 50px rgba(0,0,0,.12);
      .upper {
        .object-cover {
          @include transform(scale(1.03));
          //@include transition(transform 0.5s $ease);
        }
      }
    }
  } // .product-card


  // Collection card
  .collection-card {
    filter: brightness(0.97); // darken whole card to light grey
    @include transition(all 0.3s $ease);
    overflow: hidden;
    > .object-cover {
      display: block;
      opacity: 0;
      @include transition(opacity 0.3s $ease, transform 0.3s $ease);
    }
    .inner {
      @include transition(background-color 0.3s $ease);
      .upper {
        @include transition(opacity 0.3s $ease);
        img {
          display: block;
          width: 100%;
          filter: brightness(1); // return to default brightness
        }
      }
      h2 {
        font-size: 28px;
        span {
          font-size: 18px;
        }
      }
    }
    .wishlist-add {
      top: 5px;
      right: 5px;
      background-size: auto 50%;
      &:hover {
        background-image: url($icon_wishlist_dark_full);
      }
    }
    .metal-switcher {
      position: absolute;
      width: auto;
      bottom: 8px;
      left: auto;
      right: 10px;
      text-align: center;
      @include transform(translateX(0%));
    }
    .price {
      position: absolute;
      font-size: 16px;
      bottom: 15px;
      left: 10px;
      text-align: center;
      @include transform(translateX(0%));
    }
    &:hover { // hover over product WITHOUT variant switcher
      filter: brightness(1); // darken whole card to light grey
      > .object-cover {
        opacity: 1;
        @include transform(scale(1.05));
        @include transition(opacity 0.4s $ease, transform 4s $ease_out);
      }
      .inner {
        background-color: transparent;
        @include transition(background-color 0.3s $ease);
        .upper {
          opacity: 0;
          @include transition(opacity 0.3s $ease);
          img {
            display: block;
            width: 100%;
            filter: brightness(1); // return to default brightness
          }
        }
        h2 {
          font-size: 28px;
          color: $grey;
          span {
            font-size: 18px;
          }
        }
      }
    } // end collection-card:hover

    // &.has-variant-switcher {
    //   overflow: visible;
    //   > .object-cover {
    //     display: none;
    //   }
    //   &:hover { // hover over product WITH variant switcher
    //     filter: brightness(0.97); // darken whole card to light grey
    //     .inner {
    //       background-color: $white;
    //       @include transition(none);
    //       .upper {
    //         opacity: 1;
    //         @include transition(none);
    //       }
    //       h2 {
    //         color: $grey_dark;
    //       }
    //     }
    //   } // end collection-card:hover
    // } // end .has-variant-switcher

  } // .collection-card

} // end media-query medium-large







@include mquery(l) {

} // end media-query large






@include mquery(xl) {

} // end media-query extra-large







@include mquery(xxl) {

} // end media-query extra-extra-large
