
// _carousels.scss

.carousel {
  position: relative;
  .carousel-track {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: auto;
    overflow-x: auto;
    column-gap: 20px;
    padding-bottom: 20px;
    cursor: grab;
    .carousel-item {
      grid-column: span 1;
      grid-row: 1 / span 1;
    }
  } // end .carousel-track
  // &:after { // side-gradient
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   width: 100px;
  //   height: 100%;
  //   pointer-events: none;
  //   background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
  //   background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
  //   background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
  //   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  // }

  // Product carousel - uses product cards as carousel items
  &.product-carousel,
  &.collection-carousel {
    .carousel-track {
      grid-template-columns: repeat(auto-fill, 250px);
      .carousel-item {
        width: 250px;
      }
    } // end .carousel-track
  }

} // end .carousel















//----------- Media queries from mobile up (xs, xs_landscape, s, m, ml, l, xl, xxl) -----------//


@include mquery(s) {

} // end media-query small






@include mquery(m) {

  .carousel {
    &.product-carousel,
    &.collection-carousel {
      .carousel-track {
        grid-template-columns: repeat(auto-fill, 300px);
        .carousel-item {
          width: 300px;
        }
      } // end .carousel-track
    }
  } // end .carousel

} // end media-query medium







@include mquery(ml) {

  .carousel {
    &.product-carousel,
    &.collection-carousel {
      .carousel-track {
        grid-template-columns: repeat(auto-fill, 375px);
        padding-top: 20px;
        .carousel-item {
          width: 375px;
          &.card {
            @include transition(box-shadow 0.4s $ease_out_quint);
            &:hover {
              box-shadow: 0px 10px 30px rgba(0,0,0,.12);
            }
          }
        }
      } // end .carousel-track
    }
  } // end .carousel

} // end media-query medium-large







@include mquery(l) {

} // end media-query large






@include mquery(xl) {

} // end media-query extra-large







@include mquery(xxl) {

} // end media-query extra-extra-large
