
// _carousels.scss

.carousel {
  position: relative;
  .carousel-track {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: auto;
    overflow-x: auto;
    column-gap: 20px;
    // padding: 20px;
    // padding-top: 0;
    padding-bottom: 20px;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
    .carousel-item {
      grid-column: span 1;
      grid-row: 1 / span 1;
    }
  } // end .carousel-track

  // &:after { // side-gradient
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   width: 100px;
  //   height: 100%;
  //   pointer-events: none;
  //   background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
  //   background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
  //   background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
  //   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  // }

  // Product carousel - uses product cards as carousel items
  &.product-carousel,
  &.collection-carousel {
    .carousel-track {
      grid-template-columns: repeat(auto-fill, 250px);
      .carousel-item {
        width: 250px;
      }
    } // end .carousel-track
  }

} // end .carousel















//----------- Media queries from mobile up (xs, xs_landscape, s, m, ml, l, xl, xxl) -----------//


@include mquery(s) {

} // end media-query small






@include mquery(m) {

  .carousel {
    &.product-carousel,
    &.collection-carousel {
      .carousel-track {
        grid-template-columns: repeat(auto-fill, 300px);
        .carousel-item {
          width: 300px;
        }
      } // end .carousel-track
    }
  } // end .carousel

} // end media-query medium







@include mquery(ml) {

  .carousel {
    &.product-carousel,
    &.collection-carousel {
      .carousel-track {
        grid-template-columns: repeat(auto-fill, 375px);
        padding-top: 20px;
        @include transition(all 0.2s $ease);
        .carousel-item {
          width: 375px;
          &.card {
            @include transition(box-shadow 0.4s $ease_out_quint);
            &:hover {
              box-shadow: 0px 1px 20px rgba(0,0,0,.12);
            }
          }
        }
        &::-webkit-scrollbar-track {
          background-color: $grey_lightest;
          //margin-left: 20px;
        }
        &::-webkit-scrollbar {
          height: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $grey_lighter;
          border-radius: 5px;
        }
        &:hover {
          &::-webkit-scrollbar-track {

          }
          &::-webkit-scrollbar {

          }
          &::-webkit-scrollbar-thumb {
            background-color: $grey_light;
          }
        }
        &.dragging { // Applied when the carousel is being dragged with mouse
          .carousel-item {
            a {
              cursor: grabbing;
            }
          }
        }
      } // end .carousel-track

      // .carousel-track::-webkit-scrollbar-track {
      //   //opacity: 0.5;
      // }
      // // .carousel-track::-webkit-scrollbar {
      // //   //opacity: 1;
      // //   //height: 20px;
      // //   height: 30px;
      // // }
      // .carousel-track::-webkit-scrollbar-thumb {
      //   background-color: $grey_lightest;
      // }

    }
  } // end .carousel

} // end media-query medium-large







@include mquery(l) {

} // end media-query large






@include mquery(xl) {

} // end media-query extra-large







@include mquery(xxl) {

} // end media-query extra-extra-large
