
// _currencies.scss

// Set image paths for currency flags
$currency_aud: $icon_path + 'currency-aud.png';
$currency_cad: $icon_path + 'currency-cad.png';
$currency_eur: $icon_path + 'currency-eur.png';
$currency_gbp: $icon_path + 'currency-gbp.png';
$currency_hkd: $icon_path + 'currency-hkd.png';
$currency_jpy: $icon_path + 'currency-jpy.png';
$currency_nzd: $icon_path + 'currency-nzd.png';
$currency_sgd: $icon_path + 'currency-sgd.png';
$currency_usd: $icon_path + 'currency-usd.png';


// Note: Currency flags prepended as :before pseudo elements
.currency-item,
.currency-btn {
  &:before {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &.currency-aud {
    &:before {
      background-image: url($currency_aud);
    }
  }
  &.currency-cad {
    &:before {
      background-image: url($currency_cad);
    }
  }
  &.currency-eur {
    &:before {
      background-image: url($currency_eur);
    }
  }
  &.currency-gbp {
    &:before {
      background-image: url($currency_gbp);
    }
  }
  &.currency-hkd {
    &:before {
      background-image: url($currency_hkd);
    }
  }
  &.currency-jpy {
    &:before {
      background-image: url($currency_jpy);
    }
  }
  &.currency-nzd {
    &:before {
      background-image: url($currency_nzd);
    }
  }
  &.currency-sgd {
    &:before {
      background-image: url($currency_sgd);
    }
  }
  &.currency-usd {
    &:before {
      background-image: url($currency_usd);
    }
  }
}













//----------- Media queries from mobile up (xs, xs_landscape, s, m, ml, l, xl, xxl) -----------//


@include mquery(s) {

} // end media-query small



@include mquery(m) {

} // end media-query medium



@include mquery(ml) {

} // end media-query medium-large



@include mquery(l) {

} // end media-query large



@include mquery(xl) {

} // end media-query extra-large



@include mquery(xxl) {

} // end media-query extra-extra-large
