
// _asset-paths-local.scss
// Relative paths to assets for local use only (HTML testing)


// Icon path
$icon_path: '../img/icon/';
$filter_icons_path: '../img/icon/filter-icons/';
$birthstones_path: '../img/product/birthstones/';
// Drawing path
$drawing_path: '../img/drawing/';
// Initials
$initial_path: '../img/product/initials/';
