
// _asset-paths.scss
// Reset asset paths for Shopify use only


// Icon path
$icon_path: '';
$filter_icons_path: '';
$birthstones_path: '';
// Drawing path
$drawing_path: '';
// Initials
$initial_path: '';
