
// _assets.scss

// Icons
$icon_account_light: $icon_path + 'profile-light.svg';
$icon_account_dark: $icon_path + 'profile-dark.svg';
$icon_account_active_light: $icon_path + 'profile-active-light.svg';
$icon_account_active_dark: $icon_path + 'profile-active-dark.svg';
$icon_search_light: $icon_path + 'search-light.svg';
$icon_search_dark: $icon_path + 'search-dark.svg';
$icon_wishlist_light: $icon_path + 'heart-light.svg';
$icon_wishlist_light_full: $icon_path + 'heart-light-full.svg';
$icon_wishlist_dark: $icon_path + 'heart-dark.svg';
$icon_wishlist_dark_full: $icon_path + 'heart-dark-full.svg';
$icon_cart_light: $icon_path + 'bag-light.svg';
$icon_cart_light_full: $icon_path + 'bag-light-full.svg';
$icon_cart_dark: $icon_path + 'bag-dark.svg';
$icon_chevron_light: $icon_path + 'chevron-light.svg';
$icon_chevron_dark: $icon_path + 'chevron-dark.svg';
$icon_minus_dark: $icon_path + 'minus-dark.svg';
$icon_plus_dark: $icon_path + 'plus-dark.svg';
$icon_gift_box: $icon_path + 'gift-box.svg';
$icon_gift_box_add: $icon_path + 'gift-box-add.svg';
$icon_gift_box_added: $icon_path + 'gift-box-added.svg';
$icon_sort_dark: $icon_path + 'sort-dark.svg';
$icon_filter_dark: $icon_path + 'filter-dark.svg';
$icon_lock_light: $icon_path + 'lock-light.svg';
$icon_lock_dark: $icon_path + 'lock-dark.svg';
$icon_birthstones_dark: $icon_path + 'birthstones-dark.svg';
$icon_starsigns_dark: $icon_path + 'starsigns-dark.svg';
$icon_ruler_dark: $icon_path + 'ruler-dark.svg';
$icon_tools_dark: $icon_path + 'tools-dark.svg';
$icon_delivery_truck_dark: $icon_path + 'delivery-truck-dark.svg';
$icon_stone_dark: $icon_path + 'stone-dark.svg';
$icon_paper_plane_dark: $icon_path + 'paper-plane-dark.svg';
$icon_share_dark: $icon_path + 'share-dark.svg';
$icon_quotation_marks_dark: $icon_path + 'quotation-marks-open-dark.svg';
$icon_quotation_marks_pink: $icon_path + 'quotation-marks-open-pink.svg';
$icon_question_mark_grey: $icon_path + 'question-grey.svg';
$icon_video_play_dark: $icon_path + 'video-play-dark.svg';
$icon_video_play_light_full: $icon_path + 'video-play-light-full.svg';
$icon_calendar_dark: $icon_path + 'calendar-dark.svg';
$icon_shipping_box_dark: $icon_path + 'shipping-box.svg';
$icon_arrow_pink: $icon_path + 'arrow-pink.svg';

// Drawings
$drawing_paper_plane_dark: $drawing_path + 'paper-plane-dark.svg';
$drawing_globe_dark: $drawing_path + 'globe-dark.svg';

// Filter icons
$icon_filter_solid_gold: $filter_icons_path + 'metal-solid-gold.svg';
$icon_filter_solid_white_gold: $filter_icons_path + 'metal-solid-white-gold.svg';
$icon_filter_solid_rose_gold: $filter_icons_path + 'metal-solid-rose-gold.svg';
$icon_filter_plated_gold: $filter_icons_path + 'metal-plated-gold.svg';
$icon_filter_classic_diamond: $filter_icons_path + 'stone-classic-diamond.svg';
$icon_filter_grey_diamond: $filter_icons_path + 'stone-grey-diamond.svg';
$icon_filter_moissanite: $filter_icons_path + 'stone-moissanite.svg';
$icon_filter_morganite: $filter_icons_path + 'stone-morganite.svg';
$icon_filter_sapphire: $filter_icons_path + 'stone-sapphire.svg';
$icon_filter_emerald: $filter_icons_path + 'stone-emerald.svg';
$icon_filter_halo: $filter_icons_path + 'shape-halo.svg';
$icon_filter_round: $filter_icons_path + 'shape-round.svg';
$icon_filter_solitaire: $filter_icons_path + 'shape-solitaire.svg';
$icon_filter_three_stone: $filter_icons_path + 'shape-three-stone.svg';
$icon_filter_oval: $filter_icons_path + 'shape-oval.svg';

// Birthstones
$birthstone_solid_gold_jan: $birthstones_path + 'birthstone-solid-gold-jan.png';

// Initials (A-Z)
$initial_a: $initial_path + 'initial-a.jpg';
$initial_b: $initial_path + 'initial-b.jpg';
$initial_c: $initial_path + 'initial-c.jpg';
$initial_d: $initial_path + 'initial-d.jpg';
$initial_e: $initial_path + 'initial-e.jpg';
$initial_f: $initial_path + 'initial-f.jpg';
$initial_g: $initial_path + 'initial-g.jpg';
$initial_h: $initial_path + 'initial-h.jpg';
$initial_i: $initial_path + 'initial-i.jpg';
$initial_j: $initial_path + 'initial-j.jpg';
$initial_k: $initial_path + 'initial-k.jpg';
$initial_l: $initial_path + 'initial-l.jpg';
$initial_m: $initial_path + 'initial-m.jpg';
$initial_n: $initial_path + 'initial-n.jpg';
$initial_o: $initial_path + 'initial-o.jpg';
$initial_p: $initial_path + 'initial-p.jpg';
$initial_q: $initial_path + 'initial-q.jpg';
$initial_r: $initial_path + 'initial-r.jpg';
$initial_s: $initial_path + 'initial-s.jpg';
$initial_t: $initial_path + 'initial-t.jpg';
$initial_u: $initial_path + 'initial-u.jpg';
$initial_v: $initial_path + 'initial-v.jpg';
$initial_w: $initial_path + 'initial-w.jpg';
$initial_x: $initial_path + 'initial-x.jpg';
$initial_y: $initial_path + 'initial-y.jpg';
$initial_z: $initial_path + 'initial-z.jpg';
// Initials (accents)
$initial_a_fada: $initial_path + 'initial-a-fada.jpg';
$initial_e_fada: $initial_path + 'initial-e-fada.jpg';
$initial_i_fada: $initial_path + 'initial-i-fada.jpg';
$initial_o_fada: $initial_path + 'initial-o-fada.jpg';
$initial_u_fada: $initial_path + 'initial-u-fada.jpg';
// Initials (symbols)
$initial_ampersand: $initial_path + 'initial-ampersand.jpg';
$initial_heart: $initial_path + 'initial-heart.jpg';
$initial_star: $initial_path + 'initial-star.jpg';
$initial_blank: $initial_path + 'initial-blank.jpg';
$initial_blank_faded: $initial_path + 'initial-blank-faded.jpg';

// Social
$icon_social_facebook_light: $icon_path + 'social-facebook-light.svg';
$icon_social_twitter_light: $icon_path + 'social-twitter-light.svg';
$icon_social_instagram_light: $icon_path + 'social-instagram-light.svg';
$icon_social_pinterest_light: $icon_path + 'social-pinterest-light.svg';
$icon_social_youtube_light: $icon_path + 'social-youtube-light.png';
$icon_social_custom_facebook_dark: $icon_path + 'social-custom-facebook-dark.svg';
$icon_social_custom_twitter_dark: $icon_path + 'social-custom-twitter-dark.svg';
$icon_social_custom_instagram_dark: $icon_path + 'social-custom-instagram-dark.svg';
$icon_social_custom_pinterest_dark: $icon_path + 'social-custom-pinterest-dark.svg';
