
// _measures.scss

// Header height
$mobile_header_height: 60px;
$desktop_header_height: 90px;

// Content
$content_max_width: 1164px;
$content_max_width_lg: 1366px;

// Side padding
$mobile_side-padding: 15px;
