
// _paths.scss


// Icon path
$icon_path: '../img/icon/';
$filter_icons_path: '../img/icon/filter-icons/';
$birthstones_path: '../img/product/birthstones/';

// Icons
$icon_account_light: $icon_path + 'lock-light.svg';
$icon_account_dark: $icon_path + 'lock-dark.svg';
$icon_search_light: $icon_path + 'search-light.svg';
$icon_search_dark: $icon_path + 'search-dark.svg';
$icon_wishlist_light: $icon_path + 'heart-light.svg';
$icon_wishlist_light_full: $icon_path + 'heart-light-full.svg';
$icon_wishlist_dark: $icon_path + 'heart-dark.svg';
$icon_wishlist_dark_full: $icon_path + 'heart-dark-full.svg';
$icon_cart_light: $icon_path + 'bag-light.svg';
$icon_cart_light_full: $icon_path + 'bag-light-full.svg';
$icon_cart_dark: $icon_path + 'bag-dark.svg';
$icon_chevron_light: $icon_path + 'chevron-light.svg';
$icon_chevron_dark: $icon_path + 'chevron-dark.svg';
$icon_minus_dark: $icon_path + 'minus-dark.svg';
$icon_plus_dark: $icon_path + 'plus-dark.svg';
$icon_gift_box: $icon_path + 'gift-box.svg';
$icon_sort_dark: $icon_path + 'sort-dark.svg';
$icon_filter_dark: $icon_path + 'filter-dark.svg';
$icon_lock_light: $icon_path + 'lock-light.svg';
$icon_lock_dark: $icon_path + 'lock-dark.svg';
$icon_birthstones_dark: $icon_path + 'birthstones-dark.svg';
$icon_starsigns_dark: $icon_path + 'starsigns-dark.svg';
$icon_ruler_dark: $icon_path + 'ruler-dark.svg';
$icon_stone_dark: $icon_path + 'stone-dark.svg';
$icon_paper_plane_dark: $icon_path + 'paper-plane-dark.svg';

// Filter icons
$icon_filter_solid_gold: $filter_icons_path + 'metal-solid-gold.svg';
$icon_filter_solid_white_gold: $filter_icons_path + 'metal-solid-white-gold.svg';
$icon_filter_solid_rose_gold: $filter_icons_path + 'metal-solid-rose-gold.svg';
$icon_filter_plated_gold: $filter_icons_path + 'metal-plated-gold.svg';
$icon_filter_classic_diamond: $filter_icons_path + 'stone-classic-diamond.svg';
$icon_filter_grey_diamond: $filter_icons_path + 'stone-grey-diamond.svg';
$icon_filter_moissanite: $filter_icons_path + 'stone-moissanite.svg';
$icon_filter_morganite: $filter_icons_path + 'stone-morganite.svg';
$icon_filter_sapphire: $filter_icons_path + 'stone-sapphire.svg';
$icon_filter_emerald: $filter_icons_path + 'stone-emerald.svg';
$icon_filter_halo: $filter_icons_path + 'shape-halo.svg';
$icon_filter_round: $filter_icons_path + 'shape-round.svg';
$icon_filter_solitaire: $filter_icons_path + 'shape-solitaire.svg';
$icon_filter_three_stone: $filter_icons_path + 'shape-three-stone.svg';
$icon_filter_oval: $filter_icons_path + 'shape-oval.svg';

// Birthstones
$birthstone_solid_gold_jan: $birthstones_path + 'birthstone-solid-gold-jan.png';
