
{% comment %} To be included as filter panel for collection templates {% endcomment %}

<aside id="filter-drawer" class="drawer">

  <div class="drawer-back"></div>

  <div class="drawer-header">
    <h2>Filter</h2>
    <a href="javascript:;" class="close-btn"></a>
  </div> <!-- end .drawer-header -->

  <div class="drawer-main">
    <div class="filter-section filter-section-metal active">
      <a href="javascript:;">Metal</a>
      <ul>
        <li class="active"><a href="javascript:;" class="icon filter-solid-gold">Solid Gold</a></li>
        <li><a href="javascript:;" class="icon filter-solid-white-gold">Solid White Gold</a></li>
        <li><a href="javascript:;" class="icon filter-solid-rose-gold">Solid Rose Gold</a></li>
        <li><a href="javascript:;" class="icon filter-plated-gold">Plated Gold & Silver</a></li>
      </ul>
    </div>
    <div class="filter-section filter-section-stone">
      <a href="javascript:;">Stone</a>
      <ul>
        <li class="active"><a href="javascript:;" class="icon filter-classic-diamond">Classic Diamond</a></li>
        <li><a href="javascript:;" class="icon filter-grey-diamond">Grey Diamond</a></li>
        <li><a href="javascript:;" class="icon filter-moissanite">Moissanite</a></li>
        <li><a href="javascript:;" class="icon filter-morganite">Morganite</a></li>
        <li><a href="javascript:;" class="icon filter-sapphire">Sapphire</a></li>
        <li><a href="javascript:;" class="icon filter-emerald">Emerald</a></li>
      </ul>
    </div>
    <div class="filter-section filter-section-shape">
      <a href="javascript:;">Shape</a>
      <ul>
        <li class="active"><a href="javascript:;" class="icon filter-halo">Halo</a></li>
        <li><a href="javascript:;" class="icon filter-round">Round</a></li>
        <li><a href="javascript:;" class="icon filter-solitaire">Solitaire</a></li>
        <li><a href="javascript:;" class="icon filter-three-stone">Three Stone</a></li>
        <li><a href="javascript:;" class="icon filter-oval">Oval</a></li>
      </ul>
    </div>
    <div class="filter-section filter-section-band">
      <a href="javascript:;">Band</a>
      <ul>
        <li class="active"><a href="javascript:;" class="filter-twig">Twig Band</a></li>
        <li><a href="javascript:;" class="filter-polished">Polished Band</a></li>
        <li><a href="javascript:;" class="filter-eternity">Eternity</a></li>
      </ul>
    </div>
    <div class="filter-section filter-section-style">
      <a href="javascript:;">Style</a>
      <ul>
        <li class="active"><a href="javascript:;" class="filter-arrows">Arrows</a></li>
        <li><a href="javascript:;" class="filter-polished">Birthstones</a></li>
        <li><a href="javascript:;" class="filter-coins">Coins</a></li>
        <li><a href="javascript:;" class="filter-coordinates">Coordinates</a></li>
        <li><a href="javascript:;" class="filter-hearts">hearts</a></li>
        <li><a href="javascript:;" class="filter-in-the-wild">In The Wild</a></li>
        <li><a href="javascript:;" class="filter-initials">Initials</a></li>
        <li><a href="javascript:;" class="filter-leaves">Leaves</a></li>
        <li><a href="javascript:;" class="filter-little-luxuries">Little Luxuries</a></li>
        <li><a href="javascript:;" class="filter-monograms">Monograms</a></li>
        <li><a href="javascript:;" class="filter-stars">Stars</a></li>
        <li><a href="javascript:;" class="filter-starsigns">Starsigns</a></li>
      </ul>
    </div>
  </div> <!-- end .drawer-main -->

  <div class="drawer-footer">
    <a href="javscript:;" id="filter-update" class="btn btn-dark btn-solid">Update</a>
  </div> <!-- end .drawer-footer -->

</aside> <!-- end #filter-drawer -->
