
{% comment %} To be included as filter panel for collection templates {% endcomment %}

{% comment %} This filter requires the use implementation of filter-prefixed tags, e.g. metal:solid-gold, piece:necklace {% endcomment %}


<aside id="filter-drawer" class="drawer">

  <div class="drawer-back"></div>

  <div class="drawer-header">
    <h2>Filter</h2>
    <a href="javascript:;" class="close-btn"></a>
  </div> <!-- end .drawer-header -->

  <div class="drawer-main">

    <div class="filter-section filter-section-metal active">
      <a href="javascript:;">Metal</a>
      <div class="inner">
        <ul>
          {% comment %} Filter options listed manually for specific order of appearance {% endcomment %}
          <li><a class="filter-option icon all" data-tag="metal:all" href="javascript:;" >All metals</a></li>
          {% if collection.all_tags contains 'metal:solid-gold' %}
            <li><a class="filter-option icon filter-solid-gold" data-tag="metal:solid-gold" href="javascript:;">Solid Gold</a></li>
          {% endif %}
          {% if collection.all_tags contains 'metal:solid-white-gold' %}
            <li><a class="filter-option icon filter-solid-white-gold" data-tag="metal:solid-white-gold" href="javascript:;">Solid White Gold</a></li>
          {% endif %}
          {% if collection.all_tags contains 'metal:solid-rose-gold' %}
            <li><a class="filter-option icon filter-solid-rose-gold" data-tag="metal:solid-rose-gold" href="javascript:;">Solid Rose Gold</a></li>
          {% endif %}
          {% if collection.all_tags contains 'metal:plated-gold' %}
            <li><a class="filter-option icon filter-plated-gold" data-tag="metal:plated-gold" href="javascript:;">Plated Gold</a></li>
          {% endif %}
          {% if collection.all_tags contains 'metal:silver' %}
            <li><a class="filter-option icon filter-silver" data-tag="metal:silver" href="javascript:;">Silver</a></li>
          {% endif %}
          {% if collection.all_tags contains 'metal:plated-rose-gold' %}
            <li><a class="filter-option icon filter-plated-rose-gold" data-tag="metal:plated-rose-gold" href="javascript:;">Plated Rose Gold</a></li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="filter-section filter-section-piece">
      <a href="javascript:;">Piece</a>
      <div class="inner">
        <ul>
          {% comment %} Filter options listed manually for specific order of appearance {% endcomment %}
          <li><a class="filter-option all" data-tag="piece:all" href="javascript:;" >All pieces</a></li>
          {% if collection.all_tags contains 'piece:ring' %}
            <li><a class="filter-option" data-tag="piece:ring" href="javascript:;">Rings</a></li>
          {% endif %}
          {% if collection.all_tags contains 'piece:engagement-ring' %}
            <li><a class="filter-option" data-tag="piece:engagement-ring" href="javascript:;">Engagement Rings</a></li>
          {% endif %}
          {% if collection.all_tags contains 'piece:wedding-ring' %}
            <li><a class="filter-option" data-tag="piece:wedding-ring" href="javascript:;">Wedding Rings</a></li>
          {% endif %}
          {% if collection.all_tags contains 'piece:heirloom-ring' %}
            <li><a class="filter-option" data-tag="piece:heirloom-ring" href="javascript:;">Heirloom Rings</a></li>
          {% endif %}
          {% if collection.all_tags contains 'piece:necklace' %}
            <li><a class="filter-option" data-tag="piece:necklace" href="javascript:;">Necklaces</a></li>
          {% endif %}
          {% if collection.all_tags contains 'piece:earrings' %}
            <li><a class="filter-option" data-tag="piece:earrings" href="javascript:;">Earrings</a></li>
          {% endif %}
          {% if collection.all_tags contains 'piece:bracelet' %}
            <li><a class="filter-option" data-tag="piece:bracelet" href="javascript:;">Bracelets</a></li>
          {% endif %}
          {% if collection.all_tags contains 'piece:accessory' %}
            <li><a class="filter-option" data-tag="piece:accessory" href="javascript:;">Accessories</a></li>
          {% endif %}
          {% if collection.all_tags contains 'piece:addition' %}
            <li><a class="filter-option" data-tag="piece:addition" href="javascript:;">Additions</a></li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div> <!-- end .drawer-main -->

  <div class="drawer-footer">
    <a href="javscript:;" id="filter-update" class="btn btn-dark btn-solid">Update</a>
  </div> <!-- end .drawer-footer -->

</aside> <!-- end #filter-drawer -->











{% comment %}

{% for tag in collection.all_tags %}

  {% case tag %}
    {% when 'metal:solid-gold' %}
       <li><a class="icon filter-solid-gold" data-tag="metal:solid-gold" href="javascript:;">Solid Gold</a></li>
    {% when 'metal:solid-white-gold' %}
      <li><a class="icon filter-solid-white-gold" data-tag="metal:solid-white-gold" href="javascript:;">Solid White Gold</a></li>
    {% when 'metal:solid-rose-gold' %}
      <li><a class="icon filter-solid-rose-gold" data-tag="metal:solid-rose-gold" href="javascript:;">Solid Rose Gold</a></li>
    {% when 'metal:gold-plated' %}
      <li><a class="icon filter-plated-gold" data-tag="metal:gold-plated" href="javascript:;">Plated Gold</a></li>
    {% when 'metal:silver' %}
      <li><a class="icon filter-silver" data-tag="metal:silver" href="javascript:;">Silver</a></li>
    {% when 'metal:rose-gold-plated' %}
      <li><a class="icon filter-rose-gold-plated" data-tag="metal:rose-gold-plated" href="javascript:;">Plated Rose Gold</a></li>
    {% else %}
  {% endcase %}

{% endfor %}

{% endcomment %}
