
// _cart-drawer.scss

#cart-drawer {
  .drawer-header {

  } // end .drawer-header
  .drawer-main {
    ul {
      > li.cart-item {
        display: grid;
        grid-template-columns: 1fr minmax(215px, 2fr);
        grid-gap: 10px;
        padding: 20px 0;
        opacity: 0;
        @include transform(translateX(30px));
        @include transition(all 0.4s $ease_out_quint);
        > div:nth-of-type(1) {
          position: relative;
          grid-column: 1 / span 1;
          grid-row: 1 / span 1;
          align-self: start;
          a {
            img {
              min-height: 100px;
              object-fit: contain;
              object-position: top;
            }
          }
        }
        > div:nth-of-type(2) {
          grid-column: 2 / span 1;
          display: grid;
          grid-template-columns: 60% 40%;
          //grid-template-columns: 2fr 1fr;
          grid-gap: 2px 0px;
          //grid-auto-flow: row dense;
          .title {
            grid-column: 1 / span 2;
            font-size: 24px;
            line-height: 1;
            color: $grey_dark;
            margin-bottom: 0;
            span {
              display: block;
              margin-top: 2px;
              font-family: $font_family_secondary;
              font-size: 14px;
              color: $grey;
            }
          }
          .detail-note {
            grid-column: 1 / span 2;
            display: block;
            font-size: 12px;
            color: $grey;
          }
          .qty {
            grid-column: 1 / span 1;
            align-self: center;
            font-size: 12px;
            line-height: 32px;
            padding: 7px 0;
            span {
              display: inline-block;
              float: left;
              min-width: 32px;
              height: 32px;
              vertical-align: top;
              &.qty-amount {
                text-align: center;
                border-top: 1px solid $grey_light;
                border-bottom: 1px solid $grey_light;
                padding: 0 5px;
              }
            }
            button {
              position: relative;
              display: inline-block;
              float: left;
              width: 32px;
              height: 32px;
              border: 1px solid $grey_light;
              background: transparent;
              cursor: pointer;
              @include transition(all 0.2s $ease);
              &:before {
                content: "";
                position: absolute;
                width: 15px;
                height: 16px;
                top: 50%;
                left: 50%;
                background-color: transparent;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                @include transform(translate(-50%, -50%));
                opacity: 0.7;
              }
              &.qty-minus {
                &:before {
                  background-image: url($icon_minus_dark);
                }
              }
              &.qty-plus {
                &:before {
                  background-image: url($icon_plus_dark);
                }
              }
              &:hover {
                background-color: $grey_lighter;
              }
              &:focus {
                outline: 0;
              }
              &:active {
                background-color: $grey_light;
              }
            }
          }
          .price {
            grid-column: 2 / span 1;
            font-size: 14px;
            color: $grey;
            max-width: 100%;
            text-align: right;
            word-wrap: break-word;
            align-self: center;
            justify-self: end;
            padding-left: 10px;
          }
          .remove {
            grid-column: 1 / span 5;
            font-size: 12px;
          }
        }
        .appended-note {
          position: relative;
          grid-column: 2 / span 1;
          font-size: 12px;
          color: $grey;
          min-height: 35px;
          &.gift-box {
            padding-left: 35px;
            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 30px;
              height: 30px;
              background-image: url($icon_gift_box);
              background-color: transparent;
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
        }
      }
    }
  } // end .drawer-main
  .drawer-footer {
    position: relative;
    padding-top: 15px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(
        to right,
        rgba($grey_light, 0),
        rgba($grey_light, 1),
        rgba($grey_light, 0)
      );
    }
    h3 {
      font-size: 26px;
      margin-bottom: 15px;
    }
    .totals-item {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      margin-bottom: 10px;
      font-size: 14px;
      &:last-of-type {
        margin-bottom: 0;
      }
      .title {
        grid-column: 1 / span 1;
        justify-self: left;
      }
      .value {
        grid-column: 2 / span 1;
        justify-self: right;
      }
    }
    #checkout-btn {
      width: 100%;
      margin-top: 20px;
    }
  } // end .drawer-footer
  &.active { // drawer open
    .drawer-main {
      ul {
        > li.cart-item {
          opacity: 1;
          @include transform(translateX(0));
          @include transition(all 0.4s $ease_out_quint);
        }
        // @for $i from 1 to 10 { // up to 10 cart items
        //   > li.cart-item:nth-of-type(#{$i}) {
        //     @include transition-delay(0.05 + ($i * 0.05s)); // initial delay, then subsequent delays per item
        //   }
        // } // end for loop
      }
    }
  }
} // end #cart-drawer












//----------- Media queries from mobile up (xs, xs_landscape, s, m, ml, l, xl, xxl) -----------//



@include mquery(s) {

  #cart-drawer {
    &.active { // drawer open
      .drawer-main {
        ul {
          @for $i from 1 to 10 { // up to 10 cart items
            > li.cart-item:nth-of-type(#{$i}) {
              @include transition-delay(0.05 + ($i * 0.05s)); // initial delay, then subsequent delays per item
            }
          } // end for loop
        }
      }
    }
  } // end #cart-drawer

} // end media-query small









@include mquery(m) {

} // end media-query medium





@include mquery(ml) {


} // end media-query medium-large






@include mquery(l) {

} // end media-query large



@include mquery(xl) {

} // end media-query extra-large



@include mquery(xxl) {

} // end media-query extra-extra-large
