
// _header.scss




header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  //height: $mobile_header_height;
  display: block;
  z-index: 10;
  background: $white;
  @include transition(all 0.15s $ease_in 0s, padding-right 0s $ease); // padding-right 0s for opening/closing drawer components
  &:before { // background gradient in header
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: $grey_light;
    pointer-events: none;
    background: -moz-linear-gradient(top,  rgba(44,44,43,0.6) 0%, rgba(44,44,43,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(44,44,43,0.6) 0%,rgba(44,44,43,0) 100%);
    background: linear-gradient(to bottom,  rgba(44,44,43,0.6) 0%,rgba(44,44,43,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#802c2c2b', endColorstr='#002c2c2b',GradientType=0 );
    opacity: 0;
    @include transition(all 0.15s $ease);
  }
  > .inner {
    position: relative;
    display: grid;
    grid-template-columns: 64px auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px $mobile_side-padding;
    padding-right: 5px;
    //z-index: 12;
    @include transition(background 0.15s $ease_in 0s);
    #main-nav {
      display: block;
      position: fixed;
      top: $mobile_header_height;
      left: 0;
      width: 100%;
      height: calc(100vh - #{$mobile_header_height}); // Interpolate
      background-color: $white;
      // padding: 15px 15px;
      overflow-x: hidden;
      overflow-y: auto;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      @include transition(all 0.15s $ease_in 0s);
      #mega-menu-bg {
        display: none;
      }
      #mobile-search {
        position: relative;
        display: block;
        padding: 0 15px;
        opacity: 0;
        @include transition(transform 0.3s $ease_in_out_quint 0s, opacity 0.1 $ease_out 0s);
        input[type="search"] {
          background-image: none;
          width: 100%;
          height: 38px;
          padding: 5px 10px;
          padding-right: 90px;
          border: 1px solid $grey_light;
          -webkit-appearance: none;
          font-size: 14px;
          font-weight: $font_weight_lighter;
          @include transition(all 0.2s $ease);
          &:focus {
            outline: 0;
            border: 1px solid $grey;
          }
        }
        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration {
          display: none;
        }
        input[type="submit"] {
          position: absolute;
          top: 50%;
          right: 15px;
          width: 38px;
          min-width: 0;
          height: 38px;
          padding: 0;
          margin-top: 0;
          border: 0;
          @include transform(translateY(-50%));
          background-color: transparent;
          background-image: url($icon_search_dark);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 45%;
          @include transition(all 0.2s $ease);
          &:focus {
            outline: 0;
          }
        }
        .clear {
          position: absolute;
          top: 50%;
          right: 55px;
          font-size: 12px;
          font-weight: $font_weight_light;
          color: lighten($grey, 20%);
          padding: 8px 10px;
          @include transform(translateY(-50%));
          opacity: 0;
          pointer-events: none;
          @include transition(all 0.2s $ease);
          &.active {
            opacity: 1;
            pointer-events: auto;
          }
          &:hover {
            font-weight: $font_weight_light;
          }
        }
      } // end #mobile-search
      > ul {
        position: relative;
        list-style-type: none;
        min-height: calc(100% - 40px); // minus mobile search height
        padding: 15px 15px;
        padding-bottom: 80px; // space for mobile currenct button
        opacity: 0;
        left: 0;
        @include transform(translateY(-10px));
        @include transition(transform 0.1s $ease_out 0s, opacity 0.1 $ease_out 0s, left 0.4s $ease_out_quint 0s);
        > li { // Top-level item
          display: block;
          > a {
            position: relative;
            display: block;
            width: 100%;
            font-size: 18px;
            font-weight: $font_weight_lighter;
            color: $grey;
            text-transform: uppercase;
            text-decoration: none;
            padding: 8px 0;
            cursor: pointer;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0); // remove tap highlight
          }
          .mega-menu {
            display: none;
            width: 100%;
            padding: 20px 0 20px 20px;
            .inner-list {
              opacity: 0;
              @include transform(translateY(-15px));
              @include transition(all 0.1s $ease_in 0s);
              h3 {
                position: relative;
                display: block;
                font-family: $font_family_secondary;
                font-size: 16px;
                font-weight: $font_weight_lighter;
                color: $grey;
                text-transform: uppercase;
                padding: 10px 0;
                padding-right: 30px;
                margin-bottom: 0;
                cursor: pointer;
                -webkit-tap-highlight-color: rgba(255, 255, 255, 0); // remove tap highlight
                &:before,
                &:after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  right: 0;
                  width: 11px;
                  height: 11px;
                  background-color: transparent;
                  background-image: url($icon_minus_dark);
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: contain;
                  @include transform(translateY(-50%) rotate(0deg));
                  @include transition(all 0.2s $ease_in);
                }
                &:after {
                  @include transform(translateY(-50%) rotate(90deg));
                }
                &.active {
                  &:before {
                    @include transform(translateY(-50%) rotate(90deg));
                    opacity: 0;
                  }
                  &:after {
                    @include transform(translateY(-50%) rotate(180deg));
                  }
                }
              }
              > ul {
                display: none;
                list-style-type: none;
                padding: 10px 0 10px 20px;
                > li {
                  display: block;
                  opacity: 0;
                  @include transform(translateY(-15px));
                  @include transition(all 0.1s $ease_in 0s);
                  > a {
                    position: relative;
                    display: block;
                    font-size: 14px;
                    font-weight: $font_weight_lighter;
                    color: $grey;
                    text-transform: none;
                    text-decoration: none;
                    padding: 8px 0;
                    background-color: transparent;
                    cursor: pointer;
                    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); // remove tap highlight
                    @include transition(background-color 0.15s $ease);
                    &:hover {
                      //text-decoration: underline $pink;
                      background-color: $grey_lightest;
                    }
                    &.menu-item-icon {
                      padding-left: 35px;
                      background-repeat: no-repeat;
                      background-position: left center;
                      background-size: auto 75%;
                    }
                  }
                }
                &.active {
                  > li {
                    opacity: 1;
                    @include transform(translateY(0px));
                    @include transition(all 0.2s $ease_out 0.08s);
                  }
                }
              }
            }
            &.active {
              .inner-list {
                opacity: 1;
                @include transform(translateY(0px));
                @include transition(all 0.2s $ease_out 0.08s);
              }
            }
          }
          &.currency-select { // Mobile currency select
            position: absolute;
            display: block;
            width: calc(100% - 15px - 15px);
            bottom: 15px;
            left: 15px;
            form {
              display: none;
            }
            > a.currency-btn { // Mobile currency button
              font-size: 16px;
              padding-left: 35px;
              &:before,
              &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: 28px;
                height: 28px;
                @include transform(translateY(-50%));
              }
              &:after {
                left: auto;
                right: 0;
                width: 12px;
                height: 12px;
                background-image: url($icon_chevron_dark);
                background-color: transparent;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                @include transform(translateY(-50%) rotate(-90deg));
              }
            }
            ul.currency-list { // Mobile currency list
              position: fixed;
              display: block;
              width: 100%;
              max-height: calc(100vh - #{$mobile_header_height}); // Interpolate
              left: 0;
              bottom: 0;
              padding: 15px 15px;
              background-color: $white;
              list-style-type: none;
              overflow-x: hidden;
              overflow-y: auto;
              scroll-snap-align: end;
              @include transform(translateX(100%));
              li {
                position: relative;
                display: block;
                a {
                  position: relative;
                  display: block;
                  font-size: 18px;
                  font-weight: $font_weight_lighter;
                  text-transform: uppercase;
                  color: $grey;
                  text-transform: none;
                  text-decoration: none;
                  padding: 12px 0;
                  padding-left: 50px;
                  cursor: pointer;
                  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); // remove tap highlight
                  @include transition(background-color 0.15s $ease);
                  &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 42px;
                    height: 42px;
                    @include transform(translateY(-50%));
                  }
                  &.active {
                    font-weight: $font_weight_regular;
                  }
                  &:hover {
                    background-color: $grey_lightest;
                  }
                  &.currency-close-btn {
                    font-size: 16px;
                    margin-top: 10px;
                    padding: 8px 0;
                    padding-left: 25px;
                    &:before {
                      width: 12px;
                      height: 12px;
                      background-image: url($icon_chevron_dark);
                      background-color: transparent;
                      background-position: center;
                      background-repeat: no-repeat;
                      background-size: contain;
                      @include transform(translateY(-50%) rotate(90deg));
                    }
                    &:hover {
                      background-color: transparent;
                    }
                  }
                }
              }
            }
          } // end .currency-select (mobile)
          &.has-mega-menu {
            > a {
              padding-right: 30px;
              &:before,
              &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                display: block;
                width: 11px;
                height: 11px;
                background-color: transparent;
                background-image: url($icon_minus_dark);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                @include transform(translateY(-50%) rotate(0deg));
                @include transition(all 0.2s $ease_in);
              }
              &:after {
                @include transform(translateY(-50%) rotate(90deg));
              }
              &.active { // Top level item active
                &:before {
                  @include transform(translateY(-50%) rotate(90deg));
                  opacity: 0;
                }
                &:after {
                  @include transform(translateY(-50%) rotate(180deg));
                }
              }
            }
          }
        }
        .underline {
          display: none;
        }
      } // end top level ul
      &.active { // #main-nav.active
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        #mobile-search {
          opacity: 1;
          //@include transform(translateY(0));
          @include transition(transform 0.3s $ease_in_out_quint 0s, opacity 0.25s $ease_out 0.25s);
          &.slide-out {
            @include transform(translateX(-100%));
          }
        }
        >  ul {
          opacity: 1;
          @include transform(translateY(0));
          // Transitions: allow delay for opening menu (translateY), but not on currency open (left)
          @include transition(transform 0.25s $ease_out 0.15s, opacity 0.25s $ease_out 0.15s, left 0.3s $ease_in_out_quint 0s);
          &.slide-out {
            left: -100%;
          }
        }
      }
    } // end #main-nav
    #header-logo {
      grid-column: 1 / span 1;
      justify-self: left;
      align-self: start;
      img {
        max-width: 64px;
        max-height: 40px;
        color: $grey_dark; // for alt text fallback
        &.light {
          display: none;
        }
        &.dark {
          display: block;
        }
      }
    }
    #header-icons {
      grid-column: 2 / span 1;
      justify-self: right;
      display: grid;
      grid-template-columns: repeat( 5, minmax(20px, auto) ); // 5 icons (mobile)
      > a {
        position: relative;
        display: inline-block;
        align-self: center;
        width: 40px;
        height: 40px;
        margin-left: 2px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 50%;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0); // remove tap highlight
        @include transition(all 0.2s $ease);
        &#account-btn {
          grid-column: 2 / span 1;
          grid-row: 1;
          background-image: url($icon_account_dark);
          &.active{
            background-image: url($icon_account_active_dark);
          }
        }
        &#wishlist-btn {
          background-image: url($icon_wishlist_dark);
          background-size: auto 46%;
          &.active {
            background-image: url($icon_wishlist_dark_full);
          }
        }
        &#mobile-search-btn {
          grid-column: 4 / span 1;
          grid-row: 1;
          background-image: url($icon_search_dark);
        }
        &#cart-btn {
          grid-column: 1 / span 1;
          grid-row: 1;
          background-image: url($icon_cart_dark);
          &.active:after { // pink dot
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: $pink;
            border-radius: 50%;
            left: 50%;
            top: calc(50% + 2px);
            @include transform(translate(-50%, -50%));
          }
        }
        &#menu-btn {
          grid-column: 5 / span 1;
          grid-row: 1;
          span {
            position: absolute;
            width: 14px;
            height: 1px;
            //height: 0.05em;
            top: 50%;
            left: 50%;
            background-color: $grey_dark;
            @include transform(translate(-50%, -50%) rotateZ(0deg));
            @include transition(all 0s $ease);
            &:before, &:after {
              position: absolute;
              content: "";
              width: 14px;
              height: inherit;
              left: 0;
              background-color: inherit;
              @include transition(all 0s $ease);
            }
            &:before {
              top: -5px;
            }
            &:after {
              bottom: -5px;
            }
          }
          &.active {
            span {
              height: 1px;
              height: 0.05em;
              width: 0px;
              &:before, &:after {
                width: 18px;
              }
              &:before {
                top: 0;
                @include transform(translate(-50%, -50%) rotateZ(135deg));
              }
              &:after {
                bottom: 0;
                @include transform(translate(-50%, -50%) rotateZ(45deg));
              }
            }
          }
        } // end #menu-btn
      }
      form#search {
        display: none;
      }
      .currency-select { // Desktop currency selector
        display: none;
      }
    } // end #header-icons
  } // end .inner
} // end header



// Transparent header (mobile)
body.transparent-header {
  header {
    background: transparent;
    &:before {
      opacity: 1;
    }
    > .inner {
      #header-logo {
        img {
          color: $white; // for alt text fallback
          &.light {
            display: block;
          }
          &.dark {
            display: none;
          }
        }
      }
      #header-icons {
        > a {
          &#account-btn {
            background-image: url($icon_account_light);
            &.active{
              background-image: url($icon_account_active_light);
            }
          }
          &#wishlist-btn {
            background-image: url($icon_wishlist_light);
            &.active {
              background-image: url($icon_wishlist_light_full);
            }
          }
          &#mobile-search-btn {
            background-image: url($icon_search_light);
          }
          &#cart-btn {
            background-image: url($icon_cart_light);
          }
          &#menu-btn {
            span {
              background-color: $white;
            }
          } // end #menu-btn
        }
      } // end #header-icons
    } // end .inner
  } // end header
} // end body.transparent-header


















//----------- Media queries from mobile up (xs, xs_landscape, s, m, ml, l, xl, xxl) -----------//


@include mquery(s) {

  header {
    > .inner {
      #header-icons {
        grid-gap: 10px;
        > a {
          background-size: auto 50%;
        }
      } // end #header-icons
    } // end .inner
  } // end header

} // end media-query small









@include mquery(m) {

} // end media-query medium










@include mquery(ml) {

  header {
    padding: 0;
    @include transition(all 0.2s $ease 0s, padding-right 0s $ease); // padding-right 0s for opening/closing drawer components
    > .inner {
      grid-template-columns: auto 72px auto;
      grid-gap: 15px;
      padding: 10px 10px;
      max-width: $header_max_width;
      #main-nav {
        position: relative;
        grid-column: 1 / span 1;
        justify-self: left;
        top: auto;
        left: auto;
        height: auto;
        background-color: transparent;
        overflow-x: visible;
        overflow-y: visible;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        @include transition(none);
        #mega-menu-bg {
          display: block;
          position: fixed;
          top: $mobile_header_height;
          left: 0;
          width: 100%;
          height: 450px; // Set default to average mega-menu height
          min-height: 220px;
          background-color: $white;
          border-bottom: 1px solid $grey_lighter;
          box-shadow: 0 5px 15px -5px rgba(0,0,0,0.05);
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          @include transition(opacity 0.2s $ease, height 0.3s $ease_in_out_quint, visibility 0.2s $ease 0.2s);
          &.active {
            opacity: 1;
            visibility: visible;
            @include transition(opacity 0.2s $ease, height 0.3s $ease_in_out_quint, visibility 0.2s $ease 0s);
          }
        }
        #mobile-search {
          display: none;
        }
        > ul {
          display: inline-block;
          float: left;
          min-height: 0;
          padding: 0;
          padding-bottom: 0;
          opacity: 1;
          left: auto;
          @include transform(translateY(0));
          > li { // Top-level item
            display: inline-block;
            float: left;
            > a {
              width: auto;
              font-size: 13px;
              font-weight: $font_weight_light;
              color: $grey_dark;
              padding: 10px 6px;
              @include transition(color 0s $ease);
              &:hover + .mega-menu {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
              }
            }
            .mega-menu {
              display: grid;
              grid-template-columns: repeat( auto-fit, minmax(120px, 250px) );
              grid-auto-flow: column;
              grid-gap: 30px;
              position: absolute;
              top: 100%;
              left: -10px; // header padding-left
              width: 100%;
              width: 100vw;
              max-width: $content_max_width_lg;
              max-height: calc(100vh - #{$desktop_header_height});
              overflow-y: auto; // allow for mega-menu scrollign when it exceeds the window height
              padding: 40px 20px;
              opacity: 0;
              visibility: hidden;
              pointer-events: none;
              @include transition(all 0.2s $ease_in 0s);
              &:before { // invisible bar to extent the top to catch hover
                content: "";
                position: absolute;
                bottom: 100%;
                left: 0;
                width: 100%;
                height: 12px; // just over gap of header padding-bottom
              }
              .inner-list {
                grid-column: span 1;
                opacity: 0;
                @include transform(translateX(-10px));
                h3 {
                  font-family: $font_family_primary;
                  font-size: 24px;
                  line-height: 1.1;
                  text-transform: none;
                  padding: 0;
                  padding-right: 0;
                  margin-bottom: 10px;
                  min-height: 52px; // two lines of text
                  cursor: auto;
                  &:before,
                  &:after {
                    display: none;
                  }
                }
                > ul {
                  display: block;
                  padding: 0;
                  margin-bottom: 20px;
                  opacity: 0;
                  @include transform(translateX(-10px));
                  > li {
                    display: block;
                    opacity: 1;
                    @include transform(translateY(0));
                    > a {
                      display: inline-block;
                      font-weight: $font_weight_lighter;
                      font-size: 16px;
                      line-height: 1.3;
                      padding: 3px 0;
                      overflow-x: hidden;
                      @include transition(all 0.2s $ease);
                      &:after { // underline bar on hover
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: $pink;
                        bottom: 3px;
                        left: -100%;
                      }
                      &:hover {
                        text-decoration: none;
                        color: $black;
                        background-color: transparent;
                        &:after {
                          height: 1px;
                          left: 100%;
                          @include transition(left 0.4s $ease, height 0.1s $ease);
                        }
                      }
                      &.menu-item-icon {
                        padding-left: 32px;
                        background-size: auto 90%;
                        &:after { // underline bar on hover
                          width: 0;
                          left: 32px;
                          @include transform(translateX(0));
                        }
                        &:hover {
                          color: $black;
                          &:after {
                            width: calc(100% - 32px);
                            @include transform(translateX(100%));
                            @include transition(transform 0.4s $ease, height 0.1s $ease, width 0.4s $ease);
                          }
                        }
                      }
                    }
                  }
                  &:last-of-type {
                    margin-bottom: 0;
                  }
                }
                &.no-title {
                  margin-top: 56px; // Gap where title would have been
                }
              }
              &.active,
              &:hover {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
                .inner-list {
                  opacity: 1;
                  @include transform(translateX(0px));
                  @include animation('menuListIn 0.3s ease both');
                  > ul {
                    opacity: 1;
                    @include transform(translateX(0px));
                    @include animation('menuListIn 0.3s ease both');
                  }
                }

                @for $i from 1 to 8 { // up to 8 inner lists
                  .inner-list:nth-of-type(#{$i}) {
                    @include animation-delay($i * 0.06s);
                    > ul {
                      // @include animation-delay($i * 0.1s);
                      @include animation-delay(0.1s);
                    }
                  }
                } // end for loop
              }
            }
            &.currency-select { // Mobile currency select
              display: none;
            } // end .currency-select (mobile)
            &.has-mega-menu {
              > a {
                padding-right: 6px;
                &:before {
                  display: none;
                }
                &:after { // chevron
                  position: relative;
                  top: auto;
                  right: auto;
                  display: inline-block;
                  width: 8px;
                  height: 10px;
                  margin-top: 0;
                  margin-left: 5px;
                  background-image: url($icon_chevron_dark);
                  @include transform(translateY(0%) rotate(0deg));
                  @include transition(all 0s $ease);
                }
                &.active { // Top level item active
                  &:before {
                    display: none;
                  }
                  &:after {
                    @include transform(translateY(0%) rotate(0deg));
                    @include transition(all 0s $ease);
                  }
                }
              }
            }
            &.mobile-only {
              display: none;
              > a {
                display: none;
              }
            }
          }
          .underline {
            display: block;
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 50px;
            height: 1px;
            background-color: $grey_dark;
            pointer-events: none; // prevent obstruction with interaction
            opacity: 0;
            @include transition(all 0.2s $ease, opacity 0.2s $ease);
            &.active {
              opacity: 1;
            }
          }
        } // end top level ul
        &.active { // #main-nav.active
          >  ul {
            &.slide-out {
              left: auto;
            }
          }
        }
      } // end #main-nav
      #header-logo {
        grid-column: 2 / span 1;
        justify-self: center;
        align-self: center;
        img {
          max-width: 72px;
          height: 40px;
          max-height: 40px;
        }
      }
      #header-icons {
        grid-column: 3 / span 1;
        grid-gap: 5px;
        > a {
          background-size: auto 45%;
          @include transition(all 0.2s $ease);
          &#account-btn {
            grid-column: 2 / span 1;
          }
          &.wk-link {
            grid-column: 3 / span 1;
          }
          &#mobile-search-btn {
            display: none;
          }
          &#cart-btn {
            grid-column: 4 / span 1;
            &.active:after {
              width: 7px;
              height: 7px;
              top: calc(50% + 2px);
            }
          }
          &#menu-btn {
            display: none;
          } // end #menu-btn
          &:hover {
            @include transform(scale(1.2));
          }
        }
        form#search {
          position: relative;
          display: block;
          grid-column: 1 / span 1;
          grid-row: 1;
          align-self: center;
          width: auto;
          max-width: 150px;
          margin-right: 10px;
          input[type="search"] {
            background-color: transparent;
            background-image: none;
            width: 100%;
            height: 32px;
            padding: 0;
            padding-right: 30px;
            border: 0;
            border-bottom: 1px solid $grey_dark;
            -webkit-appearance: none;
            font-family: $font_family_secondary;
            font-size: 14px;
            font-weight: $font_weight_light;
            color: $grey_dark;
            @include transition(all 0.2s $ease);
            &:focus {
              outline: 0;
              //border: 1px solid $grey;
            }
          }
          input[type="search"]::-webkit-search-decoration,
          input[type="search"]::-webkit-search-cancel-button,
          input[type="search"]::-webkit-search-results-button,
          input[type="search"]::-webkit-search-results-decoration {
            display: none;
          }
          input[type="search"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $grey_dark;
          }
          input[type="search"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $grey_dark;
          }
          input[type="search"]::-ms-input-placeholder { /* Microsoft Edge */
            color: $grey_dark;
          }
          input[type="submit"] {
            position: absolute;
            top: 50%;
            right: -6px;
            width: 32px;
            min-width: 0;
            height: 32px;
            padding: 0;
            margin-top: 0;
            border: 0;
            @include transform(translateY(-50%));
            background-color: transparent;
            background-image: url($icon_search_dark);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 56%;
            @include transition(all 0.2s $ease);
            &:hover {
              //@include transform(translateY(-50%) scale(1.2));
            }
          }
          &:hover {
            input[type="search"] {
              //border: 1px solid $grey;
            }
          }
        }
        .currency-select { // Desktop currency selector
          position: relative;
          display: inline-block;
          grid-column: 5 / span 1;
          grid-row: 1;
          margin-right: 5px;
          form {
            display: none;
          }
          .currency-btn {
            display: inline-block;
            height: 40px;
            padding-right: 35px;
            font-size: 14px;
            line-height: 40px;
            text-transform: uppercase;
            text-decoration: none;
            color: $grey_dark;
            &:before {
              content: "";
              position: absolute;
              top: 50%;
              right: 0;
              width: 26px;
              height: 26px;
              @include transform(translateY(-50%));
            }
            &:hover {
              font-weight: $font_weight_light;
            }
            &:hover + ul.currency-list {
              visibility: visible;
              &:before { // dropdown background
                width: 100%;
                height: 100%;
                opacity: 1;
                @include transition(all 0.2s $ease);
              }
              > li {
                opacity: 1;
                @include transform(translateX(0px));
              }
              @for $i from 1 to 15 { // up to 15 items
                > li:nth-of-type(#{$i}) {
                  @include transition-delay($i * 0.02s);
                }
              } // end for loop
            }
          }
          ul.currency-list {
            position: absolute;
            top: 100%;
            right: -$mobile_side-padding;
            padding: 10px 15px;
            list-style-type: none;
            visibility: hidden;
            &:before { // currency dropdown background
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              width: 0;
              height: 0;
              opacity: 0;
              background-color: $white;
              @include transition(all 0.15s $ease);
            }
            > li {
              display: block;
              opacity: 0;
              @include transform(translateX(10px));
              @include transition(all 0.15s $ease 0s);
              > a {
                position: relative;
                display: block;
                font-size: 14px;
                font-weight: $font_weight_light;
                text-transform: uppercase;
                text-decoration: none;
                color: $grey_dark;
                padding: 8px 0;
                padding-right: 35px;
                @include transition(all 0.2s $ease);
                &:before {
                  content: "";
                  position: absolute;
                  top: 50%;
                  right: 0;
                  width: 26px;
                  height: 26px;
                  @include transform(translateY(-50%));
                  @include transition(all 0.2s $ease);
                }
                &:hover {
                  @include transform(translateX(-3px));
                  &:before {
                    width: 32px;
                    height: 32px;
                  }
                }
              }
            }
            @for $i from 1 to 15 { // up to 15 items
              > li:nth-of-type(#{$i}) {
                @include transition-delay(0s);
              }
            } // end for loop
            &:hover {
              visibility: visible;
              &:before { // dropdown background
                width: 100%;
                height: 100%;
                opacity: 1;
              }
              > li {
                opacity: 1;
                @include transform(translateX(0px));
              }
            }
          }
        } // end .currency-select
      } // end #header-icons
    } // end .inner

  } // end header



  // Transparent header (desktop)
  body.transparent-header {
    header {
      > .inner {
        #main-nav {
          > ul {
            > li { // Top-level item
              > a {
                color: $white;
              }
              &.has-mega-menu {
                > a {
                  &:after {
                    background-image: url($icon_chevron_light);
                  }
                }
              }
            }
            .underline {
              background-color: $white;
            }
          } // end top level ul
        } // end #main-nav

        #header-icons {
          form#search {
            input[type="search"] {
              border-bottom: 1px solid $white;
              color: $white;
            }
            input[type="search"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: $white;
            }
            input[type="search"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: $white;
            }
            input[type="search"]::-ms-input-placeholder { /* Microsoft Edge */
              color: $white;
            }
            input[type="submit"] {
              background-image: url($icon_search_light);
            }
            &.active { // Input has content
              input[type="search"] {
                background-color: $white;
                height: 36px;
                color: $grey_dark;
                padding: 0 10px;
                padding-right: 40px;
              }
              input[type="submit"] {
                right: 0;
                background-image: url($icon_search_dark);
              }
            }
          }
          .currency-select { // Desktop currency selector
            .currency-btn {
              color: $white;
            }
            ul.currency-list {
              &:before { // currency dropdown background
                background-color: transparent;
              }
              > li {
                > a {
                  color: $white;
                }
              }
            }
          } // end .currency-select
        } // end #header-icons
      } // end .inner
    } // end header
  } // end body.transparent-header


} // end media-query medium-large












@include mquery(l) {

  header {
    padding: 0;
    background-color: $white;
    // &:before {
    //   @include transition(all 0.1s $ease_in_out_quint 0s);
    // }
    > .inner {
      grid-template-columns: 1fr 72px 1fr;
      grid-gap: 10px;
      padding: 10px 10px;
      //max-width: $header_max_width;
      margin: 0 auto;
      #main-nav {
        #mega-menu-bg {
          top: $desktop_header_height;
        }
        > ul {
          > li { // Top-level item
            > a {
              font-size: 14px;
              padding: 10px 10px;
            }
            &.has-mega-menu {
              > a {
                padding-right: 6px;
                &:after { // chevron
                  width: 10px;
                  height: 10px;
                  margin-left: 5px;
                }
              }
            }
            .mega-menu {
              .inner-list.col-2 {
                grid-column: span 2;
                position: relative;
                column-count: 2;
                column-gap: 30px;
                padding-top: 62px; // Double-height h3 + margin-bottom
                h3 {
                  position: absolute;
                  top: 0;
                  left: 0;
                }
                > ul {
                  opacity: 1;
                  > li {
                    > a {

                    }
                  }
                }
              }
            } // end .mega-menu
          }
        } // end top level ul
      } // end #main-nav
      #header-icons {
        > a {
          width: 44px;
          height: 44px;
          margin-left: 0px;
          background-size: auto 45%;
          &:hover {
            @include transform(scale(1.15));
          }
        }
        form#search {
          max-width: 200px;
        }
        .currency-select {
          .currency-btn {
            height: 44px;
            line-height: 44px;
          }
        } // end .currency-select
      } // end #header-icons
    } // end .inner

  } // end header

} // end media-query large








@include mquery(xl) {

  header {
    > .inner {
      grid-gap: 20px;
      #main-nav {
        > ul {
          > li { // Top-level item
            &.has-mega-menu {
              > a {
                padding-right: 10px;
                &:after { // chevron
                  margin-left: 8px;
                }
              }
            }
            .mega-menu {
              .inner-list {
                h3 {
                  font-size: 28px;
                  min-height: 66px; // two lines of text
                }
              }
              .inner-list.col-2 {
                padding-top: 76px; // Double-height h3 + margin-bottom
              }
            } // end .mega-menu
          }
        } // end top level ul
      } // end #main-nav
    } // end .inner
  } // end header

} // end media-query extra-large









@include mquery(xxl) {

} // end media-query extra-extra-large
